<div class="address-detail">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-sm-4 offset-sm-2 col-md-3 offset-md-3">
				<div class="card--address">
					<div class="card--address__title">Location</div>
					<div class="card--address__abstract">
						<p>1 Aquafil Drive<br> Cartersville, GA<br> 30120</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 offset-sm-1 col-md-3 offset-md-2">
				<div class="card--address">
					<div class="card--address__title">Phone</div>
					<div class="card--address__abstract">
						<p>P: <a href="tel:0016786058100">+1 (678) 605-8100</a></p>
						<p>F: <a href="tel:0016786058120">+1 (678) 605-8120</a></p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 offset-sm-1 col-md-3 offset-md-2">
				<div class="card--address">
					<div class="card--address__title">Sales inquiries</div>
					<div class="card--address__abstract">
						<p>P: <a href="tel:0016786058100">+1 (678) 605-8100</a></p>
						<p>F: <a href="tel:0016786058120">+1 (678) 605-8120</a></p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 offset-sm-1 col-md-3 offset-md-2">
				<div class="card--address">
					<div class="card--address__title">General inquiries</div>
					<div class="card--address__abstract">
						<p><a href="mailto:info@aquafilusa.com">info@aquafilusa.com</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3 address-detail__divline"></div>
		</div>
	</div>
</div>
