<div class="certification borders">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<div class="certification__title">Certifications</div>
				<div class="listing--downloads">
					<div class="listing__item">
						<a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--certification">
							<span>Iso 9001:2015 AquafilUSA</span>
							<span class="icon">
								<svg><use xlink:href="#download"></use></svg>
							</span>
						</a>
					</div>
					<div class="listing__item">
						<a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--certification">
							<span>Iso 9001:2015 AquafilUSA</span>
							<span class="icon">
								<svg><use xlink:href="#download"></use></svg>
							</span>
						</a>
					</div>
					<div class="listing__item">
						<a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--certification">
							<span>Iso 9001:2015 AquafilUSA</span>
							<span class="icon">
								<svg><use xlink:href="#download"></use></svg>
							</span>
						</a>
					</div>
					<div class="listing__item">
						<a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--certification">
							<span>Iso 9001:2015 AquafilUSA</span>
							<span class="icon">
								<svg><use xlink:href="#download"></use></svg>
							</span>
						</a>
					</div>
					<div class="listing__item">
						<a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--certification">
							<span>Iso 9001:2015 AquafilUSA</span>
							<span class="icon">
								<svg><use xlink:href="#download"></use></svg>
							</span>
						</a>
					</div>
					<div class="listing__item">
						<a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--certification">
							<span>Iso 9001:2015 AquafilUSA</span>
							<span class="icon">
								<svg><use xlink:href="#download"></use></svg>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
