<div class="product-proposition">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<div class="product-proposition__title">Products</div>
				<div class="listing--product">
					<div class="listing__item" appear>
						<div class="card--product" open-modally="#detail-1">
							<div class="card--product__picture">
								<img src="/aquafil/img/location-detail/01-01.jpg" />
							</div>
							<div class="card--product__content">
								<div class="card--product__title">ECONYL® Pure</div>
								<div class="card--product__abstract">The only piece dyeable fiber made of 100% regenerated nylon, offering the ultimate flexibility with a clear conscience.</div>
								<div class="card--product__cta">
									<button type="button" class="btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
								</div>
							</div>
						</div>
						<!-- in page detail - 1 -->
						<div class="card--side-modal" card-product-detail id="detail-1">
							<div class="card--side-modal__picture">
								<img src="/aquafil/img/location-detail/01-01b.jpg" />
							</div>
							<div class="card--side-modal__content">
								<div class="card--side-modal__title">ECONYL® Pure</div>
								<div class="card--side-modal__abstract">
									<p>The only piece dyeable fiber made of 100% regenerated nylon, offering the ultimate flexibility with a clear conscience.</p>
									<p>The only piece dyeable fiber made of 100% regenerated nylon, offering the ultimate flexibility with a clear conscience.</p>
									<p>ECONYL® Pure is reclaimed, pre- and post-consumer nylon 6 carpet fiber and other nylon waste that is regenerated into new nylon 6 – and engineered to be regenerated an infinite number of times. So it can be dyed into colors for new carpet again and again, and again. ECONYL® Pure is reclaimed, pre- and post-consumer nylon 6 carpet fiber and other nylon waste that is regenerated into new nylon 6 – and engineered to be regenerated an infinite number of times. So it can be dyed into colors for new carpet again and again, and again.ECONYL® Pure is reclaimed, pre- and post-consumer nylon 6 carpet fiber and other nylon waste that is regenerated into new nylon 6 – and engineered to be regenerated.</p>
								</div>
							</div>
							<div class="card--side-modal__cta">
								<a href="#" class="btn--more-md"><span>Read more</span> <svg><use xlink:href="#arrow-next-md"></use></svg></a>
								<button type="button" class="btn--more-md" (click)="onRequestInfo()"><span>Request info</span> <svg><use xlink:href="#pencil"></use></svg></button>
							</div>
							<!--
							<div class="card--side-modal__close">
								<button type="button" class="btn--close"><svg><use xlink:href="#close"></use></svg></button>
							</div>
							-->
						</div>
					</div>
					<div class="listing__item" appear>
						<div class="card--product" open-modally="#detail-1">
							<div class="card--product__picture">
								<img src="/aquafil/img/location-detail/01-02.jpg" />
							</div>
							<div class="card--product__content">
								<div class="card--product__title">ECONYL® StayClean</div>
								<div class="card--product__abstract">For the first time, stain-free carpets don’t have to come at the expense of the environment. ECONYL® StayClean is a solution...</div>
								<div class="card--product__cta">
									<button type="button" class="btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
								</div>
							</div>
						</div>
					</div>
					<div class="listing__item" appear>
						<div class="card--product" open-modally="#detail-1">
							<div class="card--product__picture">
								<img src="/aquafil/img/location-detail/01-03.jpg" />
							</div>
							<div class="card--product__content">
								<div class="card--product__title">ECONYL® GLOBAL COLLECTION</div>
								<div class="card--product__abstract">ECONYL® regenerated nylon is a product that can help you close the loop. Made from waste, it’s infinitely recyclable and can...</div>
								<div class="card--product__cta">
									<button type="button" class="btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
								</div>
							</div>
						</div>
					</div>
					<div class="listing__item" appear>
						<div class="card--product" open-modally="#detail-1">
							<div class="card--product__picture">
								<img src="/aquafil/img/location-detail/01-04.jpg" />
							</div>
							<div class="card--product__content">
								<div class="card--product__title">ChromaCasa</div>
								<div class="card--product__abstract">Chromacasa is a high quality, versatile fiber that provides the largest running color line in the industry. Its superior...</div>
								<div class="card--product__cta">
									<button type="button" class="btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
								</div>
							</div>
						</div>
					</div>
					<div class="listing__item" appear>
						<div class="card--product" open-modally="#detail-1">
							<div class="card--product__picture">
								<img src="/aquafil/img/location-detail/01-05.jpg" />
							</div>
							<div class="card--product__content">
								<div class="card--product__title">ECONYL® Global connection</div>
								<div class="card--product__abstract">Enhance the overall look and feel of vehicles with premium automotive fibers. With as much time as people spend in their...</div>
								<div class="card--product__cta">
									<button type="button" class="btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
								</div>
							</div>
						</div>
					</div>
					<div class="listing__item" appear>
						<div class="card--product" open-modally="#detail-1">
							<div class="card--product__picture">
								<img src="/aquafil/img/location-detail/01-06.jpg" />
							</div>
							<div class="card--product__content">
								<div class="card--product__title">Accents</div>
								<div class="card--product__abstract">Chromacasa is a high quality, versatile fiber that provides the largest running color line in the industry. Its superior...</div>
								<div class="card--product__cta">
									<button type="button" class="btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
								</div>
							</div>
						</div>
					</div>
					<div class="listing__item" appear>
						<div class="card--product" open-modally="#detail-1">
							<div class="card--product__picture">
								<img src="/aquafil/img/location-detail/01-07.jpg" />
							</div>
							<div class="card--product__content">
								<div class="card--product__title">Heavy Denier</div>
								<div class="card--product__abstract">Heavy traffic tends to take a beating on everyday carpet fibers. Heavy denier fibers are made to withstand high volume....</div>
								<div class="card--product__cta">
									<button type="button" class="btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
								</div>
							</div>
						</div>
					</div>
					<div class="listing__item" appear>
						<div class="card--product" open-modally="#detail-1">
							<div class="card--product__picture">
								<img src="/aquafil/img/location-detail/01-08.jpg" />
							</div>
							<div class="card--product__content">
								<div class="card--product__title">Aqualon</div>
								<div class="card--product__abstract">Enhance the overall look and feel of vehicles with premium automotive fibers. With as much time as people spend in their...</div>
								<div class="card--product__cta">
									<button type="button" class="btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
								</div>
							</div>
						</div>
					</div>
					<div class="listing__item" appear>
						<div class="card--product" open-modally="#detail-1">
							<div class="card--product__picture">
								<img src="/aquafil/img/location-detail/01-09.jpg" />
							</div>
							<div class="card--product__content">
								<div class="card--product__title">Polyester</div>
								<div class="card--product__abstract">Polyester is a luxurious, soft fiber created with ease in mind. Polyester offers good performance results when...</div>
								<div class="card--product__cta">
									<button type="button" class="btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
