<div class="toolkit-proposition">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<div class="toolkit-proposition__title">Toolkits</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-18 offset-sm-3 col-md-14 offset-md-5">
				<!-- swiper -->
				<div class="swiper-container" swiper-toolkit>
					<div class="swiper-wrapper">
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--toolkit">
								<div class="card--toolkit__picture">
									<img loading="lazy" src="/aquafil/img/location-detail/02-01.jpg" />
								</div>
								<div class="card--toolkit__content">
									<div class="card--toolkit__title">Full Circle Pom Box</div>
									<div class="card--toolkit__abstract">This design tool contains 360 colors presented in yarn poms that show the color in both cut pile and loop pile for more accurate color visual to represent the any carpet construction. The three-fold box folds for easy bookcase storage or carrying to client presentations.</div>
									<div class="card--toolkit__cta">
										<a href="#" class="btn--primary">Add to cart</a>
									</div>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--toolkit">
								<div class="card--toolkit__picture">
									<img loading="lazy" src="/aquafil/img/location-detail/02-01.jpg" />
								</div>
								<div class="card--toolkit__content">
									<div class="card--toolkit__title">Full Circle Pom Box</div>
									<div class="card--toolkit__abstract">This design tool contains 360 colors presented in yarn poms that show the color in both cut pile and loop pile for more accurate color visual to represent the any carpet construction. The three-fold box folds for easy bookcase storage or carrying to client presentations.</div>
									<div class="card--toolkit__cta">
										<a href="#" class="btn--primary">Add to cart</a>
									</div>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--toolkit">
								<div class="card--toolkit__picture">
									<img loading="lazy" src="/aquafil/img/location-detail/02-01.jpg" />
								</div>
								<div class="card--toolkit__content">
									<div class="card--toolkit__title">Full Circle Pom Box</div>
									<div class="card--toolkit__abstract">This design tool contains 360 colors presented in yarn poms that show the color in both cut pile and loop pile for more accurate color visual to represent the any carpet construction. The three-fold box folds for easy bookcase storage or carrying to client presentations.</div>
									<div class="card--toolkit__cta">
										<a href="#" class="btn--primary">Add to cart</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
