<a href="<!--@@var=href-->" class="card--news">
	<div class="card--news__picture">
		<img loading="lazy" src="<!--@@var=img-->" />
	</div>
	<div class="card--news__content" appear>
		<div class="card--news__date">
			<!--@@var=date-->
		</div>
		<div class="card--news__title">
			<!--@@var=title-->
		</div>
		<!-- <div class="card--news__abstract"><-@@var=abstract-></div> -->
		<div class="card--news__cta">
			<button type="button" class="btn--more"><span>Read more</span> <svg><use xlink:href="#arrow-next"></use></svg></button>
		</div>
	</div>
</a>
