<div class="horizontal-menu">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<div class="horizontal-menu__content">
					<div class="horizontal-menu__title">
						Filtra per
					</div>
					<ul class="nav--horizontal-menu">
						<li class="nav__item"><span><span class="name">Lorem Ipsum</span> <span class="count">(7)</span></span></li>
						<li class="nav__item"><span><span class="name">Lorem Ipsum</span> <span class="count">(3)</span></span></li>
						<li class="nav__item"><span><span class="name">Lorem Ipsum</span> <span class="count">(1)</span></span></li>
						<li class="nav__item"><span><span class="name">Lorem Ipsum</span> <span class="count">(1)</span></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
