<div class="news-listing borders">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<div class="listing--news">
					<div class="listing__item" appear>
						<!-- @@include ./card-news.html { "img": "/aquafil/img/news/01-01.jpg", "href": "#", "date": "23.06.2021", "title": "Aquafil si rafforza nel procurement di Nylon a fine vita, entrando nel capitale di Nofir, leader europeo nel recupero di reti da pesca", "abstract": "Lorem ipsum" } -->
					</div>
					<div class="listing__item" appear>
						<!-- @@include ./card-news.html { "img": "/aquafil/img/news/01-02.jpg", "href": "#", "date": "23.06.2021", "title": "Aquafil torna alla NeoCon di Chicago dal 4 al 6 ottobre per celebrare 10 anni di innovazione con il nylon rigenerato ECONYL®", "abstract": "Lorem ipsum" } -->
					</div>
					<div class="listing__item" appear>
						<!-- @@include ./card-news.html { "img": "/aquafil/img/news/01-03.jpg", "href": "#", "date": "23.06.2021", "title": "Aquafil premiata dopo i conti del I semestre e l’indicazione di buone prospettive", "abstract": "Lorem ipsum" } -->
					</div>
					<div class="listing__item" appear>
						<!-- @@include ./card-news.html { "img": "/aquafil/img/news/01-04.jpg", "href": "#", "date": "23.06.2021", "title": "Giulio Bonazzi panelist all’evento “In Genius Waste” sull’economia circolare responsabile", "abstract": "Lorem ipsum" } -->
					</div>
					<div class="listing__item" appear>
						<!-- @@include ./card-news.html { "img": "/aquafil/img/news/01-05.jpg", "href": "#", "date": "23.06.2021", "title": "Buone pratiche di economia circolare nel tessile: Giulio Bonazzi relatore al Meeting dei Ministri in Slovenia", "abstract": "Lorem ipsum" } -->
					</div>
					<div class="listing__item" appear>
						<!-- @@include ./card-news.html { "img": "/aquafil/img/news/01-06.jpg", "href": "#", "date": "23.06.2021", "title": "Pubblicato il Report di Sostenibilità 2020", "abstract": "Lorem ipsum" } -->
					</div>
					<div class="listing__item" appear>
						<!-- @@include ./card-news.html { "img": "/aquafil/img/news/01-07.jpg", "href": "#", "date": "23.06.2021", "title": "Aquafil lancia una piattaforma digitale che mette ECONYL® a disposizione dei consumatori più consapevoli", "abstract": "Lorem ipsum" } -->
					</div>
					<div class="listing__item" appear>
						<!-- @@include ./card-news.html { "img": "/aquafil/img/news/01-08.jpg", "href": "#", "date": "23.06.2021", "title": "Blue Economy e sostenibilità: Giulio Bonazzi dialoga con gli alumni Bocconi", "abstract": "Lorem ipsum" } -->
					</div>
					<div class="listing__item" appear>
						<!-- @@include ./card-news.html { "img": "/aquafil/img/news/01-09.jpg", "href": "#", "date": "23.06.2021", "title": "Giulio Bonazzi relatore al Fashion Futures Live", "abstract": "Lorem ipsum" } -->
					</div>
					<div class="listing__item" appear>
						<!-- @@include ./card-news.html { "img": "/aquafil/img/news/01-10.jpg", "href": "#", "date": "23.06.2021", "title": "Giornata Mondiale dell’Oceano: Giulio Bonazzi interviene all’evento dell’UNESCO", "abstract": "Lorem ipsum" } -->
					</div>
					<div class="listing__item" appear>
						<!-- @@include ./card-news.html { "img": "/aquafil/img/news/01-11.jpg", "href": "#", "date": "23.06.2021", "title": "Giulio Bonazzi relatore al Summit ChangeNOW", "abstract": "Lorem ipsum" } -->
					</div>
					<div class="listing__item" appear>
						<!-- @@include ./card-news.html { "img": "/aquafil/img/news/01-12.jpg", "href": "#", "date": "23.06.2021", "title": "Aquafil membro di Textile Exchange", "abstract": "Lorem ipsum" } -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
