$text: #3D5D6C;
$background: #ffffff;
$foreground: #003A56;
$primary: #00ACED;
$secondary: #4D4D4D;
$tertiary: #9D9D9C;
$quaternary: #F1F1F1;

$background-negative: $foreground;
$background-primary: $primary;
$background-secondary: $secondary;
$background-tertiary: $tertiary;
$background-quaternary: $quaternary;
// $background-quinary: $quinary;
// $background-senary: $senary;
$background-disabled: $background;
$background-dimmed: rgba($background, 0.08);
$foreground-negative: $background;
$foreground-primary: $primary;
$foreground-secondary: $secondary;
$foreground-tertiary: $tertiary;
$foreground-quaternary: $quaternary;
// $foreground-quinary: $quinary;
// $foreground-senary: $senary;
$foreground-disabled: $foreground;
$foreground-dimmed: rgba($foreground, 0.5);
$border: #CDCDCD;
$shadow: rgba(53, 48, 44, .65);
$black-10: rgba(16, 16, 16, .1);
$black-20: rgba(16, 16, 16, .2);
$black-30: rgba(16, 16, 16, .3);
$black-40: rgba(16, 16, 16, .4);
$black-50: rgba(16, 16, 16, .5);
$black-60: rgba(16, 16, 16, .6);
$black-70: rgba(16, 16, 16, .7);
$black-80: rgba(16, 16, 16, .8);
$black-90: rgba(16, 16, 16, .9);
$fastest: 150ms;
$fast: 250ms;
$slow: 350ms;
