<div class="product-hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 offset-sm-2 col-md-6 offset-md-2 order-2 order-sm-1">
				<div class="product-hero__content" appear>
					<div class="product-hero__title">Aquafil’s path towards full sustainability</div>
					<div class="product-hero__abstract">Our Pillars</div>
				</div>
			</div>
			<div class="col-sm-12 offset-sm-2 col-md-11 offset-md-2 order-1 order-sm-2">
				<div class="product-hero__picture" scroll scrollSpeed="1">
					<img loading="lazy" src="/aquafil/img/pillars/hero.jpg" />
				</div>
			</div>
		</div>
	</div>
</div>
