<!-- RESEARCH PROPOSITION -->
<div class="research-proposition">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 offset-sm-2 col-md-11 offset-md-3">
				<div class="research-proposition__content" appear>
					<!--<div class="research-proposition__category">Lorem Ipsum</div>-->
					<div class="research-proposition__title"><!--@@var=title--></div>
					<div class="research-proposition__abstract">
                        <!--@@var=abstract-->
                        <a href="#" class="btn--right"><span><!--@@var=cta--></span> <svg><use xlink:href="#arrow-next-md"></use></svg></a>
                    </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 offset-sm-2 col-md-5 offset-md-3">
				<a href="#" class="card--innovation">
					<div class="card--innovation__picture">
						<img loading="lazy" src="/aquafil/img/homepage/05-01.png" />
					</div>
					<div class="card--innovation__content" appear>
						<div class="card--innovation__title">Nylon Regeneration Project</div>
						<div class="card--innovation__abstract">Thanks to continuous research and collaboration with various stakeholders, in 2011, the Group...</div>
					</div>
					<div class="card--innovation__cta">
						<button type="button" class="btn--more-md"><span>Read the article</span> <svg><use xlink:href="#arrow-next-md"></use></svg></button>
					</div>
				</a>
			</div>
			<div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1">
				<a href="#" class="card--innovation">
					<div class="card--innovation__picture">
						<img loading="lazy" src="/aquafil/img/homepage/05-02.png" />
					</div>
					<div class="card--innovation__content" appear>
						<div class="card--innovation__title">Carpet recyling</div>
						<div class="card--innovation__abstract">In 2018, Aquafil opened the first industrial plant for the recycling of carpets in the United...</div>
					</div>
					<div class="card--innovation__cta">
						<button type="button" class="btn--more-md"><span>Read the article</span> <svg><use xlink:href="#arrow-next-md"></use></svg></button>
					</div>
				</a>
			</div>
			<div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1">
				<a href="#" class="card--innovation">
					<div class="card--innovation__picture">
						<img loading="lazy" src="/aquafil/img/homepage/05-03.png" />
					</div>
					<div class="card--innovation__content" appear>
						<div class="card--innovation__title">Nylon from plants?
                            Yes we can!</div>
						<div class="card--innovation__abstract">In 2017, Aquafil started a multi-year research project in collaboration with Genomatica Inc...</div>
					</div>
					<div class="card--innovation__cta">
						<button type="button" class="btn--more-md"><span>Read the article</span> <svg><use xlink:href="#arrow-next-md"></use></svg></button>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
