<div class="sales-country negative">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-10 offset-md-3">
				<div class="sales-country__image" gallery="/aquafil/img/environment/04-01.jpg" scroll scrollSpeed="1">
					<img src="/aquafil/img/product/sales-and-country.jpg">
					<!-- @@include ./../shared/zoom-button.html -->
				</div>
			</div>
			<div class="col-sm-20 offset-sm-2 col-md-7 offset-md-2">
				<div class="sales-country__content">
					<div class="sales-country__block">
						<div class="sales-country__title">Sales network <svg><use xlink:href="#arrow-next-md"></use></svg></div>
						<div class="sales-country__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim, ultricies interdum mauris felis tristique .
						</div>
					</div>
					<div class="sales-country__block">
						<div class="sales-country__title">Country <svg><use xlink:href="#arrow-next-md"></use></svg></div>
						<div class="sales-country__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim, ultricies interdum mauris felis tristique .
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
