<div class="text-media-secondary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-md-7 offset-md-3">
                <div class="text-media-secondary__content" appear>
                    <div class="text-media-secondary__title"><!--@@var=title--></div>
                    <div class="text-media-secondary__abstract"><!--@@var=abstract--></div>
                    <div class="text-media-secondary__cta">
                        <a href="#" class="btn--right"><span><!--@@var=cta--></span> <svg><use xlink:href="#arrow-next-md"></use></svg></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-3">
                <div class="text-media-secondary__offset">
                    <div class="text-media-secondary__picture" gallery="<!--@@var=image-->" scroll scrollSpeed="1">
                        <img loading="lazy" src="<!--@@var=image-->" />
                        <!-- @@include ../shared/zoom-button.html -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
