<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<meta charset="utf-8" />
	<base href="<!--@@var=baseHref-->">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="Content-Language" content="it" />
	<meta name="robots" content="noindex,nofollow" />
	<title>Aquafil</title>
	<link rel="icon" href="<!--@@var=baseHref-->img/icon/favicon.png" type="image/x-icon" />
	<link rel="shortcut icon" href="<!--@@var=baseHref-->img/icon/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="<!--@@var=baseHref-->img/icon/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="<!--@@var=baseHref-->img/icon/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="<!--@@var=baseHref-->img/icon/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="<!--@@var=baseHref-->img/icon/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="<!--@@var=baseHref-->img/icon/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="<!--@@var=baseHref-->img/icon/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="<!--@@var=baseHref-->img/icon/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="<!--@@var=baseHref-->img/icon/apple-touch-icon-152x152.png" />
	<link rel="manifest" href="<!--@@var=baseHref-->img/icon/manifest.json">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<meta name="description" content="">
	<meta name="keywords" content="aquafil">
	<meta name="application-name" content="Aquafil">
	<meta name="apple-mobile-web-app-title" content="Aquafil">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<!--<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">-->
	<link rel="stylesheet" href="<!--@@var=baseHref-->css/vendors.min.css" />
	<link rel="stylesheet" href="<!--@@var=baseHref-->css/main.min.css" />
	<!-- @@placeholder= css -->
</head>

<body>
	<script>
	window.STATIC = true;

	window.labels = {
		select: "Seleziona",
		error_required: "Il campo &#232; obbligatorio",
		error_email: "Email non valida",
		error_match: "I campi non corrispondono",
		select_file: "Seleziona un file (fino a 15mb)",
	};

	</script>
	<!-- @@include ./shared/svg.html -->
	<div class="app hidden" app-component>
		<div class="page <!--@@var=pageClass-->">
			<!-- @@include ./shared/header.html -->
			<div class="wrapper">
				<!-- @@placeholder= main -->
				<!-- @@include ./shared/footer.html -->
			</div>
			<!-- @@include ./shared/modal-outlet.html -->
		</div>
	</div>
	<script src="<!--@@var=baseHref-->js/vendors.min.js"></script>
	<script src="<!--@@var=baseHref-->js/main.js"></script>
	<!-- @@placeholder= js -->
</body>

</html>
