<div class="certifications-hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<div class="certifications-hero__content" appear>
					<div class="certifications-hero__title">Certifications</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 offset-sm-3 col-md-7 offset-md-4">
				<div class="certifications-hero__content" appear>
					<div class="certifications-hero__abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
				</div>
			</div>
		</div>
	</div>
</div>
