<div class="horizontal-menu borders">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<div class="horizontal-menu__content">
					<div class="horizontal-menu__title">
						Filter by country
					</div>
					<ul class="nav--horizontal-menu">
						<li class="nav__item"><a href="/aquafil/location.html"><span class="name">All</span> <span class="count">(18)</span></a></li>
						<li class="nav__item"><a href="/aquafil/location-country.html"><span class="name">Italy</span> <span class="count">(3)</span></a></li>
						<li class="nav__item"><a href="/aquafil/location-country.html" class="active"><span class="name">Usa</span> <span class="count">(7)</span></a></li>
						<li class="nav__item"><a href="/aquafil/location-country.html"><span class="name">UK</span> <span class="count">(1)</span></a></li>
						<li class="nav__item"><a href="/aquafil/location-country.html"><span class="name">Slovenia</span> <span class="count">(4)</span></a></li>
						<li class="nav__item"><a href="/aquafil/location-country.html"><span class="name">Croatia</span> <span class="count">(1)</span></a></li>
						<li class="nav__item"><a href="/aquafil/location-country.html"><span class="name">China</span> <span class="count">(1)</span></a></li>
						<li class="nav__item"><a href="/aquafil/location-country.html"><span class="name">Thailand</span> <span class="count">(1)</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
