<div class="offices-detail-hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 offset-sm-2 col-md-8 offset-md-3 order-2 order-sm-1">
				<div class="offices-detail-hero__content" appear>
					<div class="offices-detail-hero__title">Cartersville - Georgia</div>
					<div class="offices-detail-hero__abstract">Established in 1999, this company marks the second stage of the Group’s internationalization plan. It established a direct presence in the United States, bringing the company closer to the needs of its customers and providing a more structured response to the remarkable opportunities available in one of the world’s largest markets.</div>
				</div>
			</div>
			<div class="col-sm-11 offset-sm-2 col-md-11 offset-md-2 order-1 order-sm-2">
				<div class="offices-detail-hero__picture">
					<img src="/aquafil/img/offices-detail/hero.jpg" />
				</div>
			</div>
		</div>
	</div>
</div>
