<section class="news-detail-content">
    <div class="news-detail-content__row" appear>
        <div class="news-detail-content__thumbnail" style="background-image:url(/aquafil/img/news-detail/fullwidth.jpg);"></div>
    </div>
    <div class="row news-detail-content__row">
        <div class="col-sm-20 offset-sm-2 col-md-10 offset-md-7">
            <div class="news-detail-content__text-larger">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                <br>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
        </div>
    </div>
    <div class="row news-detail-content__row" appear>
        <div class="col-sm-20 offset-sm-2 col-md-10 offset-md-7">
            <div class="news-detail-content__text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
    <div class="row news-detail-content__row" appear>
        <div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
            <div class="news-detail-content__image-box">
                <img src="/aquafil/img/news-detail/news-detail-content-image.jpg">
            </div>
        </div>
    </div>
    <div class="row news-detail-content__row" appear>
        <div class="col-sm-20 offset-sm-2 col-md-10 offset-md-7">
            <div class="news-detail-content__text">
                <p>
                    Giulio Bonazzi, CEO and Chairman of Aquafil said:
                </p>
                <div class="news-detail-content__quote">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
    <div class="row news-detail-content__row" appear>
        <div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
            <div class="video-embed">
                <div class="video-embed__iframe-container">
                    <iframe class="video-embed__iframe" width="560" height="315" src="https://www.youtube.com/embed/SlcQWUn5DeI"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row news-detail-content__row" appear>
        <div class="col-sm-20 offset-sm-2 col-md-10 offset-md-7">
            <div class="news-detail-content__text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>

    <div class="content-slider" appear>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
                    <!-- swiper -->
                    <div class="swiper-container" swiper-content>
                        <div class="swiper-wrapper">
                            <!-- slide -->
                            <div class="swiper-slide">
                                <div class="card--content">
                                    <img src="http://via.placeholder.com/1430x800" />
                                </div>
                            </div>
                            <!-- slide -->
                            <div class="swiper-slide">
                                <div class="card--content">
                                    <img src="http://via.placeholder.com/1430x800" />
                                </div>
                            </div>
                        </div>
                        <div class="content-slider__controls">
                            <div class="content-slider__index"><span class="page" [innerHTML]="slideIndex"></span> of <span [innerHTML]="slideTotal"></span></div>
                            <div class="content-slider__nav">
                                <!-- prev button -->
                                <button type="button" class="btn--prev">
                                    <svg class="circle"><use xlink:href="#circle-dotted"></use></svg>
                                    <svg class="caret"><use xlink:href="#caret-left"></use></svg>
                                </button>
                                <!-- next button -->
                                <button type="button" class="btn--next">
                                    <svg class="circle"><use xlink:href="#circle-dotted"></use></svg>
                                    <svg class="caret"><use xlink:href="#caret-right"></use></svg>
                                </button>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row news-detail-content__row" appear>
        <div class="col-sm-20 offset-sm-2 col-md-10 offset-md-7">
            <div class="news-detail-content__text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
    
    <div class="row news-detail-content__row" appear>
        <div class="col-sm-20 offset-sm-2 col-md-10 offset-md-7">
            <div class="news-detail-content__text">
                <div class="share">
                    <p class="share__text">
                        Condividi
                    </p>    
                    <a class="share__link" href="#"><svg class="facebook"><use xlink:href="#facebook"></use></svg></a>
                    <a class="share__link" href="#"><svg class="twitter"><use xlink:href="#twitter"></use></svg></a>
                    <a class="share__link" href="#"><svg class="linkedin"><use xlink:href="#linkedin"></use></svg></a>
                </div>
            </div>
        </div>
    </div>

</section>