<!-- PRODUCT PROPOSITION -->
<div class="area-proposition">
	<div class="area-proposition__head">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 offset-sm-2 col-md-11 offset-md-3">
					<div class="area-proposition__content" appear>
						<div class="area-proposition__category">What we do</div>
						<div class="area-proposition__title">Product areas</div>
						<div class="area-proposition__abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus commodo massa ridiculus diam ultrices eu quis suspendisse aenean.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="listing--area">
			<div class="listing__item" appear>
				<div class="card--area" scroll scrollSpeed="2">
					<div class="card--area__title">Nylon Textile Filament</div>
					<div class="card--area__picture">
						<img loading="lazy" src="/aquafil/img/homepage/02-01.jpg" />
					</div>
					<div class="card--area__abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus neque, vel morbi sit. Luctus id tempor non sed.</div>
					<div class="card--area__cta">
						<a href="#" class="btn--primary">Learn more</a>
					</div>
				</div>
			</div>
			<div class="listing__item" appear>
				<div class="card--area" scroll scrollSpeed="0.5">
					<div class="card--area__title">Bulk Continuos Filament</div>
					<div class="card--area__picture">
						<img loading="lazy" src="/aquafil/img/homepage/02-02.jpg" />
					</div>
					<div class="card--area__abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus neque, vel morbi sit. Luctus id tempor non sed.</div>
					<div class="card--area__cta">
						<a href="#" class="btn--primary">Learn more</a>
					</div>
				</div>
			</div>
			<div class="listing__item" appear>
				<div class="card--area" scroll>
					<div class="card--area__title">Engineering</div>
					<div class="card--area__picture">
						<img loading="lazy" src="/aquafil/img/homepage/02-03.jpg" />
					</div>
					<div class="card--area__abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus neque, vel morbi sit. Luctus id tempor non sed.</div>
					<div class="card--area__cta">
						<a href="#" class="btn--primary">Learn more</a>
					</div>
				</div>
			</div>
			<div class="listing__item" appear>
				<div class="card--area" scroll scrollSpeed="2">
					<div class="card--area__title">Polymer</div>
					<div class="card--area__picture">
						<img loading="lazy" src="/aquafil/img/homepage/02-04.jpg" />
					</div>
					<div class="card--area__abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus neque, vel morbi sit. Luctus id tempor non sed.</div>
					<div class="card--area__cta">
						<a href="#" class="btn--primary">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
