<!-- INNOVATION PROPOSITION -->
<div class="innovation-proposition">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 offset-sm-2 col-md-11 offset-md-3">
				<div class="innovation-proposition__content" appear>
					<div class="innovation-proposition__category">Lorem Ipsum</div>
					<div class="innovation-proposition__title">Innovation & partnership</div>
					<div class="innovation-proposition__abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 offset-sm-2 col-md-5 offset-md-3">
				<a href="#" class="card--innovation">
					<div class="card--innovation__picture">
						<img src="/aquafil/img/homepage/05-01.png" />
					</div>
					<div class="card--innovation__content" appear>
						<div class="card--innovation__title">Project the future</div>
						<div class="card--innovation__abstract">Enhance the overall look and feel of vehicles with premium automotive fibers. With as much time as people spend in their...</div>
					</div>
					<div class="card--innovation__cta">
						<button type="button" class="btn--more-md"><span>Learn more</span> <svg><use xlink:href="#arrow-next-md"></use></svg></button>
					</div>
				</a>
			</div>
			<div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1">
				<a href="#" class="card--innovation">
					<div class="card--innovation__picture">
						<img src="/aquafil/img/homepage/05-02.png" />
					</div>
					<div class="card--innovation__content" appear>
						<div class="card--innovation__title">Partners</div>
						<div class="card--innovation__abstract">Enhance the overall look and feel of vehicles with premium automotive fibers. With as much time as people spend in their...</div>
					</div>
					<div class="card--innovation__cta">
						<button type="button" class="btn--more-md"><span>Learn more</span> <svg><use xlink:href="#arrow-next-md"></use></svg></button>
					</div>
				</a>
			</div>
			<div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1">
				<a href="#" class="card--innovation">
					<div class="card--innovation__picture">
						<img src="/aquafil/img/homepage/05-03.png" />
					</div>
					<div class="card--innovation__content" appear>
						<div class="card--innovation__title">Case studies</div>
						<div class="card--innovation__abstract">Enhance the overall look and feel of vehicles with premium automotive fibers. With as much time as people spend in their...</div>
					</div>
					<div class="card--innovation__cta">
						<button type="button" class="btn--more-md"><span>Learn more</span> <svg><use xlink:href="#arrow-next-md"></use></svg></button>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
