<div class="main-hero">
	<!-- swiper -->
	<div class="swiper-container" swiper-main>
		<div class="swiper-wrapper">
			<!-- slide -->
			<div class="swiper-slide">
				<div class="card--main-hero">
					<div class="card--main-hero__background">
						<img loading="lazy" src="/aquafil/img/homepage/hero-01.jpg" />
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-20 col-sm-9 offset-sm-2">
								<div class="card--main-hero__content">
									<div class="card--main-hero__category">Sustainability & Circularity</div>
									<div class="card--main-hero__title">The Ecopledge</div>
									<div class="card--main-hero__abstract">The ECO PLEDGE® is the set of principles that, like a lighthouse in the night, guides and inspires all the work of the Group.</div>
									<div class="card--main-hero__cta">
										<a href="#" class="btn--primary">Learn more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- slide -->
			<div class="swiper-slide">
				<div class="card--main-hero">
					<div class="card--main-hero__background">
						<img loading="lazy" src="/aquafil/img/homepage/hero-02.jpg" />
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-20 col-sm-9 offset-sm-2">
								<div class="card--main-hero__content">
									<div class="card--main-hero__category">What We Do</div>
									<div class="card--main-hero__title">Yarn for Carpets</div>
									<div class="card--main-hero__abstract">BCF (Bulk Continuous Filaments) division produces Nylon 6 yarn for synthetic carpet flooring.</div>
									<div class="card--main-hero__cta">
										<a href="#" class="btn--primary">Learn more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- slide -->
			<div class="swiper-slide">
				<div class="card--main-hero">
					<div class="card--main-hero__background">
						<img loading="lazy" src="/aquafil/img/homepage/hero-03.jpg" />
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-20 col-sm-9 offset-sm-2">
								<div class="card--main-hero__content">
									<div class="card--main-hero__category">What We Do</div>
									<div class="card--main-hero__title">Yarn for Garments</div>
									<div class="card--main-hero__abstract">NTF (Nylon Textile Filaments) division produces Nylon 6 yarn for sportswear and fashion.</div>
									<div class="card--main-hero__cta">
										<a href="#" class="btn--primary">Learn more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-hero__nav">
			<!-- up button -->
			<button type="button" class="btn--up"><svg><use xlink:href="#caret-up-md"></use></svg></button>
			<!-- pagination -->
			<div class="main-hero__bullets"></div>
			<!-- down button -->
			<button type="button" class="btn--down"><svg><use xlink:href="#caret-down-md"></use></svg></button>
		</div>
	</div>
	<div class="scroll-proposition"><span>Scroll</span></div>
</div>
