<!-- NEWS PROPOSITION -->
<div class="news-proposition">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 offset-sm-2 col-md-8 offset-md-3">
				<div class="news-proposition__content" appear>
					<div class="news-proposition__title">Latest News</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9 offset-sm-2 col-md-8 offset-md-3">
				<div class="card--news">
					<div class="card__picture">
						<img src="/aquafil/img/homepage/06-01.png" />
					</div>
					<div class="card__content" appear>
						<div class="card__title">Best circular economy practices in the textile field: Giulio Bonazzi speaker at the meeting of ministers in Slovenia</div>
						<div class="card__abstract">Slovenia, as the presiding country of the Council of the European Union, organises an Informal Meeting of Competitiveness Ministers (Internal Market and Industry) on 22 July 2021 in Ljubljana. The theme of the meeting under the heading “Building a Green, Creative and Smart Future” will be based on two priorities of the Slovenian Presidency: the...</div>
						<div class="card__cta">
							<a href="#" class="btn--more"><span>Read more</span> <svg><use xlink:href="#arrow-next"></use></svg></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-10 offset-sm-1 col-md-9 offset-md-1">
				<div class="listing--news">
					<div class="listing__item">
						<div class="card--news">
							<div class="card__picture">
								<img src="/aquafil/img/homepage/06-02.png" />
							</div>
							<div class="card__content" appear>
								<div class="card__title">The sustainability report 2020 has been published</div>
								<div class="card__cta">
									<a href="#" class="btn--more"><span>Read more</span> <svg><use xlink:href="#arrow-next"></use></svg></a>
								</div>
							</div>
						</div>
					</div>
					<div class="listing__item">
						<div class="card--news">
							<div class="card__picture">
								<img src="/aquafil/img/homepage/06-03.png" />
							</div>
							<div class="card__content" appear>
								<div class="card__title">Aquafil launches digital platform bringing Econyl® to conscious consumers</div>
								<div class="card__cta">
									<a href="#" class="btn--more"><span>Read more</span> <svg><use xlink:href="#arrow-next"></use></svg></a>
								</div>
							</div>
						</div>
					</div>
					<div class="listing__item">
						<div class="card--news">
							<div class="card__picture">
								<img src="/aquafil/img/homepage/06-04.png" />
							</div>
							<div class="card__content" appear>
								<div class="card__title">Giulio Bonazzi key speaker at fashion futures live</div>
								<div class="card__cta">
									<a href="#" class="btn--more"><span>Read more</span> <svg><use xlink:href="#arrow-next"></use></svg></a>
								</div>
							</div>
						</div>
					</div>
					<div class="listing__item">
						<div class="card--news">
							<div class="card__picture">
								<img src="/aquafil/img/homepage/06-05.png" />
							</div>
							<div class="card__content" appear>
								<div class="card__title">Giulio Bonazzi speaker at changenow summit</div>
								<div class="card__cta">
									<a href="#" class="btn--more"><span>Read more</span> <svg><use xlink:href="#arrow-next"></use></svg></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
