<!-- PROFILE PROPOSITION -->
<div class="profile-proposition">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 background-primary">
				<div class="profile-proposition__picture">
					<img src="/aquafil/img/homepage/01-01.png" />
				</div>
			</div>
			<div class="col-sm-7 offset-sm-6">
				<div class="profile-proposition__content">
					<div class="profile-proposition__category">Who we are</div>
					<div class="profile-proposition__title">Profile</div>
					<div class="profile-proposition__abstract">Since 50 years, Aquafil has been one of the leading players, both in Italy and globally, in the production of Polyamide 6.</div>
					<div class="profile-proposition__cta">
						<a href="#" class="btn--primary">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
