<!-- REPORT PROPOSITION -->
<div class="report-proposition">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="report-proposition__picture">
					<img src="/aquafil/img/homepage/04-01.jpg" />
				</div>
			</div>
			<div class="col-sm-8 offset-sm-1">
				<div class="report-proposition__content">
					<div class="report-proposition__title">Download the 2021 report</div>
					<div class="report-proposition__abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus commodo massa ridiculus diam ultrices eu quis suspendisse aenean. Accumsan luctus at ac ipsum arcu. Eget nullam massa consequat vestibulum. Rhoncus integer arcu massa dui.</div>
					<div class="report-proposition__cta">
						<a href="#" class="btn--download"><span>Download the report</span> <svg><use xlink:href="#download"></use></svg></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
