<div class="content-slider borders secondary">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<!-- swiper -->
				<div class="swiper-container" swiper-content>
					<div class="content-slider__index"><span class="page" [innerHTML]="slideIndex"></span> of <span [innerHTML]="slideTotal"></span></div>
					<div class="swiper-wrapper">
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__title">Volume and quality of discharged water</div>
									<div class="card--content__abstract">
										<p>A qualitative assessment of the water stress in the areas where the discharge occurs was also carried out for water discharges, as required by GRI 303-4, with the same risk scale used for water withdrawals. Table 22 shows the volume of water discharge broken down by destination, plants involved and water stress area for 2020.</p>
									</div>
								</div>
								<div class="card--content__right">
									<div class="card--content__picture">
										<img loading="lazy" src="/aquafil/img/environment/11-01.jpg" />
									</div>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__picture">
										<img loading="lazy" src="/aquafil/img/environment/11-02.jpg" />
									</div>
								</div>
								<div class="card--content__right">
									<div class="card--content__abstract">
										<p>Information is not currently available regarding freshwater discharged, as a percentage of the total. Under GRI Standard 303-3:2018, freshwater is water that contains total dissolved solids less than or equal to 1,000 mg/L.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-slider__nav">
						<!-- prev button -->
						<button type="button" class="btn--prev">
							<svg class="circle"><use xlink:href="#circle-dotted"></use></svg>
							<svg class="caret"><use xlink:href="#caret-left"></use></svg>
						</button>
						<!-- next button -->
						<button type="button" class="btn--next">
							<svg class="circle"><use xlink:href="#circle-dotted"></use></svg>
							<svg class="caret"><use xlink:href="#caret-right"></use></svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
