<div class="content-slider borders negative">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<!-- swiper -->
				<div class="swiper-container" swiper-content>
					<div class="content-slider__index"><span class="page" [innerHTML]="slideIndex"></span> of <span [innerHTML]="slideTotal"></span></div>
					<div class="swiper-wrapper">
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__title">Objectives</div>
									<div class="card--content__abstract">
										<p>Through the involvement of suppliers, reduce the impact of the ECONYL® supply chain phases not managed by Aquafil</p>
										<p>Involve suppliers in Aquafil’s sustainability process</p>
										<p>Develop a Qualified Protocol for suppliers</p>
									</div>
								</div>
								<div class="card--content__right">
									<div class="card--content__picture" gallery="/aquafil/img/environment/01-01.png">
										<img loading="lazy" src="/aquafil/img/environment/01-01.png" />
                                        <!-- @@include ../shared/zoom-button.html -->
									</div>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__title">Action taken</div>
									<div class="card--content__abstract">
										<p><b>2015</b><br>Supplier assessment to monitor and reduce the environmental impact of supplier activity</p>
										<p><b>2016-2017</b><br>Development of a Qualified Protocol (Guidelines) for suppliers based on environmental criteria</p>
										<p><b>2018</b><br>Review of the Guidelines</p>
										<p><b>2019</b><br>Extension of the assessment process to two other supply sectors</p>
									</div>
								</div>
								<div class="card--content__right">
									<div class="card--content__picture" gallery="/aquafil/img/environment/01-02.png">
										<img loading="lazy" src="/aquafil/img/environment/01-02.png" />
                                        <!-- @@include ../shared/zoom-button.html -->
									</div>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__title">Suppliers involved</div>
									<div class="card--content__abstract">
										<p><b>PRODUCT TRANSPORT</b><br>Fralog Eurotek Trebnje Klemen Piškur</p>
										<p><b>SPOOL PRODUCTION</b><br>Favretto Gross Hof Sonoco</p>
										<p><b>FISHING NETS</b><br>Ambiberica Nofir</p>
										<p><b>FISHING NETS</b><br>Ambiberica Nofir</p>
									</div>
								</div>
								<div class="card--content__right">
									<div class="card--content__picture" gallery="/aquafil/img/environment/01-03.png">
										<img loading="lazy" src="/aquafil/img/environment/01-03.png" />
                                        <!-- @@include ../shared/zoom-button.html -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-slider__nav">
						<!-- prev button -->
						<button type="button" class="btn--prev">
							<svg class="circle"><use xlink:href="#circle-dotted"></use></svg>
							<svg class="caret"><use xlink:href="#caret-left"></use></svg>
						</button>
						<!-- next button -->
						<button type="button" class="btn--next">
							<svg class="circle"><use xlink:href="#circle-dotted"></use></svg>
							<svg class="caret"><use xlink:href="#caret-right"></use></svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
