<div class="content-slider borders">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<!-- swiper -->
				<div class="swiper-container" swiper-content>
					<div class="content-slider__index"><span class="page" [innerHTML]="slideIndex"></span> of <span [innerHTML]="slideTotal"></span></div>
					<div class="swiper-wrapper">
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__title">Water withdrawals by source</div>
									<div class="card--content__abstract">
										<p>As with energy, the Group’s total emissions are reported in relation to the margin (expressed as EBITDA) in order to show the trend over the years.</p>
									</div>
								</div>
								<div class="card--content__right">
									<div class="card--content__picture">
										<img loading="lazy" src="/aquafil/img/environment/10-01.jpg" />
									</div>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__picture">
										<img loading="lazy" src="/aquafil/img/environment/10-02.jpg" />
									</div>
								</div>
								<div class="card--content__right">
									<div class="card--content__abstract">
										<p>In line with the requirements of GRI Standard 303-3, a qualitative assessment was made of the water stress in the areas where withdrawals are made. Each area was categorised using WWF's Water Risk Filter22, which returns a risk scale ranging from 0 (no risk) to 5 (high risk) (Figure 15). Table 20 shows the volume of water withdrawal broken down by source, plant and water stress area for the year 2020; it can be seen that withdrawals occur on average in areas of medium to low water stress.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__abstract">
										<p><a href="https://waterriskfilter.panda.org/en/Explore/Map">Explore Map</a></p>
									</div>
								</div>
								<div class="card--content__right">
									<div class="card--content__picture">
										<img loading="lazy" src="/aquafil/img/environment/10-03.jpg" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-slider__nav">
						<!-- prev button -->
						<button type="button" class="btn--prev">
							<svg class="circle"><use xlink:href="#circle-dotted"></use></svg>
							<svg class="caret"><use xlink:href="#caret-left"></use></svg>
						</button>
						<!-- next button -->
						<button type="button" class="btn--next">
							<svg class="circle"><use xlink:href="#circle-dotted"></use></svg>
							<svg class="caret"><use xlink:href="#caret-right"></use></svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
