<div class="secondary-hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 offset-sm-2 col-md-6 offset-md-2 order-2 order-sm-1">
				<div class="secondary-hero__content" appear>
					<div class="secondary-hero__category">Sustainability & Circularity</div>
					<div class="secondary-hero__title">Environment SDGs</div>
					<div class="secondary-hero__abstract">The plan of action to build a global partnership for sustainable development to protect the environment.</div>
				</div>
			</div>
			<div class="col-sm-12 offset-sm-2 col-md-11 offset-md-2 order-1 order-sm-2">
				<div class="secondary-hero__picture" gallery="/aquafil/img/environment/hero.jpg" scroll scrollSpeed="1">
					<img loading="lazy" src="/aquafil/img/environment/hero.jpg" />
                    <!-- @@include ../shared/zoom-button.html -->
				</div>
			</div>
		</div>
	</div>
</div>
