<div class="sticky-menu">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2">
				<div class="sticky-menu__content">
					<!--
					<div class="sticky-menu__title">
						Change country
					</div>
					-->
					<ul class="nav--scroll-menu" scroll-menu>
						<li class="nav__item"><a href="#econyl-regenerated-nylon" (scrollTo)="'#econyl-regenerated-nylon'">ECONYL® Regenerated nylon</a></li>
						<li class="nav__item"><a href="#the-project" (scrollTo)="'#the-project'">Il Progetto</a></li>
						<li class="nav__item"><a href="#healthy-seas-foundation" (scrollTo)="'#healthy-seas-foundation'">Healthy Seas Foundation</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
