.breadcrumb {
	padding: 20px 0 40px 0;
	z-index: 1;
	// color: $foreground-negative;

	.col-sm-20 {
		display: flex;
		justify-content: flex-end;
	}
}

.nav--breadcrumb {
	@extend %nav;
	color: $foreground-tertiary;

	&>.nav__item {
		display: flex;
		align-items: center;
		white-space: nowrap;
		font-size: 14px;
		line-height: 1.35714;
		// font-weight: 600;

		&>a,
		&>span {
			display: inline-block;
			max-width: 300px;
			overflow: hidden;
			text-overflow: ellipsis;

			&:after {
				display: none;
			}
		}

		&>a {
			&:hover {
				color: $foreground-primary;
			}
		}

		&:last-child {
			&>* {
				// color: $foreground-primary;
				font-weight: normal;
				cursor: auto;
			}
		}
	}

	&>.nav__item+.nav__item {
		&:before {
			content: '/';
			padding: 0 0.58em;
			z-index: 1;
			font-weight: normal;
		}
	}

	@include media-down(xs) {
		flex-wrap: wrap;
	}
}
