.breadcrumb {
	padding: 20px 0 40px 0;
	color: $foreground-negative;

	.col-sm-20 {
		display: flex;
		justify-content: flex-end;
	}
}

.nav--breadcrumb {
	@extend %nav;
	color: $foreground-tertiary;

	&>.nav__item {
		display: flex;
		align-items: center;
		white-space: nowrap;
		font-size: 14px;
		line-height: 1.35714;

		&:last-child {
			&>* {
				color: $foreground-primary;
			}
		}
	}

	&>.nav__item+.nav__item {
		&:before {
			content: '/';
			padding: 0 0.58em;
		}
	}

	@include media-down(xs) {
		flex-wrap: wrap;
	}
}
