.header {
	display: flex;
	align-items: center;
	width: 100%;
	top: 0;
	transition: all ease-in-out $fast;
	z-index: 1000;

	.container,
	.container-fluid {
		position: static;
	}

	height: 136px;

	&:not(.negative) {
		background: $background;
		color: $foreground;
		border-bottom: 1px solid $border;
		position: sticky;
	}

	&.negative,
	.page--homepage & {
		position: fixed;
		transition: ease-in-out $fast;
		transition-property: background-color, border;

		&:not(.scrolled) {
			background: transparent;
			color: $foreground-negative;
			border-bottom: 1px solid transparent;
		}
	}
}

.header__logo {
	.btn--logo {
		margin-right: var(--p40);
	}
}

.header__main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.btn--logo {
	@extend %btn;
	display: block;
	line-height: 0;

	@include media-up(lg) {
		svg {
			width: 200px;
			height: 32px;
		}
	}

	@include media-down(md) {
		svg {
			width: 180px;
			height: 32px;
		}
	}
}

.nav--main {
	@extend %nav;
	align-items: center;

	&>.nav__item {

		&>a,
		&>span {
			display: flex;
			align-items: center;
			@extend .small;
			margin: 0;

			svg {
				width: 9px;
				height: 6px;
				margin-left: var(--p10);
				fill: $tertiary;
			}
		}
	}

	.negative &,
	.page--homepage & {

		&>.nav__item {

			&>a,
			&>span {
				svg {
					fill: currentColor;
				}
			}
		}
	}

	@include media-up(md) {
		&>.nav__item+.nav__item {
			margin-left: var(--p40);
		}
	}

	@include media-down(md) {
		&>.nav__item {
			max-width: 130px;
		}
	}

	@include media-down(sm) {
		display: none;
	}
}

.nav--language {
	@extend %nav;
	align-items: center;

	&>.nav__item {

		&>a,
		&>span {
			display: flex;
			align-items: center;
			@extend .small;
			margin: 0;
			text-transform: uppercase;

			svg {
				width: 8px;
				height: 7px;
				margin-left: var(--p10);
			}
		}
	}

	.negative &,
	.page--homepage & {

		&>.nav__item {

			&>a,
			&>span {
				svg {
					fill: currentColor;
				}
			}
		}
	}

	@include media-up(md) {
		margin-left: var(--p40);
		padding-left: var(--p40);
		border-left: 1px solid $border;

		&>.nav__item+.nav__item {
			margin-left: var(--p40);
		}
	}

	@include media-down(sm) {
		display: none;
	}
}

@keyframes clip-right {
	0% {
		clip-path: inset(0 100% 0 0);
	}

	100% {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes clip-bottom {
	0% {
		clip-path: inset(0 0 100% 0);
	}

	100% {
		clip-path: inset(0 0 0 0);
	}
}
