.header {
	display: flex;
	align-items: center;
	width: 100%;
	top: 0;
	transition: all ease-in-out $fast;
	z-index: 2000;

	.container,
	.container-fluid,
	.row>div {
		position: static;
	}

	height: Min(var(--p130), 136px);

	&:not(.negative) {
		position: sticky;
		top: 0;
		background: $background;
		color: $foreground;
		border-bottom: 1px solid $border;
	}

	&.negative,
	.page--homepage & {
		position: fixed;
		transition: ease-in-out $fast;
		transition-property: background-color, border;

		&:not(.scrolled) {
			background: transparent;
			color: $foreground-negative;
			border-bottom: 1px solid transparent;
		}
	}

	@include media-up(md) {
		height: 110px;
	}

	@include media-up(lg) {
		height: 130px;
	}

	@include media-down(sm) {
		height: 90px;
	}

	@include media-down(xs) {
		height: 90px;
	}
}

.header__logo {
	.btn--logo {
		margin-right: var(--p40);
	}
}

.header__main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu {

	@include media-up(md) {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex: 0 0 75%;
		flex-wrap: wrap;

		.nav--main {
			flex: 1 0 75%;
			order: 3;
		}

		.btn--investor {
			flex: 0 1 auto;
			order: 4;
		}

		.nav--service {
			flex: 1 1 calc(100% - 100px);
			order: 1;
			margin-top: -20px;
		}

		.nav--language {
			flex: 0 1 auto;
			order: 2;
			max-width: 65px;
			margin-top: -20px;
		}

		.btn--menu {
			display: none;
		}
	}

	@include media-down(sm) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 90px);
		margin-top: 90px;
		overflow-x: hidden;
		overflow-y: auto;
		@include scrollbar();
		z-index: -1;

		background: $background-primary;
		color: $foreground-negative;

		&.active {
			animation: clip-bottom 500ms 1;
		}

		&:not(.active) {
			display: none;
		}
	}
}

.btn--logo {
	@extend %btn;
	display: block;
	line-height: 0;

	@include media-up(lg) {
		svg {
			width: 200px;
			height: 32px;
		}
	}

	@include media-down(md) {
		svg {
			width: 180px;
			height: 32px;
		}
	}
}

.btn--menu {
	@extend %btn;
	padding: 12px;

	svg {
		width: 36px;
		height: 36px;
	}

	&.active {
		.menu {
			display: none;
		}
	}

	&:not(.active) {
		.close {
			display: none;
		}
	}

	@include media-up(md) {
		display: none;
	}
}

.nav--main {
	@extend %nav;

	&>.nav__item {

		&>a,
		&>span {
			display: flex;
			align-items: center;
			font-size: Max(12px, Min(18px, 1vw));
			margin: 0;
			padding: var(--p10) 0;

			svg {
				flex: 0 0 0.5em;
				width: 0.5em;
				height: 0.3333em;
				margin-left: 0.6em;
				fill: $tertiary;
			}
		}
	}

	.negative &,
	.page--homepage & {

		&>.nav__item {

			&>a,
			&>span {
				svg {
					fill: currentColor;
				}
			}
		}
	}

	@include media-up(md) {
		justify-content: flex-end;
		align-items: stretch;
		width: 100%;
		max-width: 57.3vw;
		padding-right: var(--p30);

		&>.nav__item {
			position: relative;

			&>a,
			&>span {
				svg {
					margin-left: var(--p10);
				}

				.next {
					display: none;
				}
			}
		}

		&>.nav__item+.nav__item {
			margin-left: var(--p30);
		}
	}

	@include media-down(sm) {
		flex-direction: column;
		padding-top: var(--p80);

		&>.nav__item {
			position: static;

			&>a,
			&>span {
				font-size: 30px;
				padding: var(--p20) var(--cw2);

				svg {
					fill: currentColor;
				}

				.down {
					display: none;
				}
			}
		}
	}
}

.nav--service {
	@extend %nav;

	&>.nav__item {

		&>a,
		&>span {
			display: flex;
			align-items: center;
			@extend .smallest;
			text-transform: uppercase;
		}
	}

	@include media-up(md) {
		justify-content: flex-end;
		align-items: center;
		padding-right: var(--p10);
		margin: 0 0 10px 0;

		&>.nav__item {

			&>a,
			&>span {
				margin: 0 var(--p10);
			}
		}
	}

	@include media-down(sm) {
		flex-direction: column;

		&>.nav__item {
			position: static;

			&>a,
			&>span {
				font-size: 30px;
				padding: var(--p20) var(--cw2);
				text-transform: none;
			}
		}
	}
}

.nav--language {
	@extend %nav;
	margin: 0 0 10px 0;

	&>.nav__item {

		&>a,
		&>span {
			display: flex;
			align-items: center;
			@extend .extrasmall;
			margin: 0;
			text-transform: uppercase;

			svg {
				width: 8px;
				height: 7px;

				flex: 0 0 0.4444em;
				width: 0.4444em;
				height: 0.3888em;
				margin-left: 0.4em;
				fill: $tertiary;
			}
		}
	}

	.negative &,
	.page--homepage & {

		&>.nav__item {

			&>a,
			&>span {
				svg {
					fill: currentColor;
				}
			}
		}
	}

	.nav--submenu {
		text-transform: uppercase;
	}

	@include media-up(md) {
		align-items: center;
		padding-left: var(--p20);
		border-left: 1px solid $border;

		&>.nav__item {

			&>a,
			&>span {
				svg {
					margin-left: var(--p10);
				}

				.next {
					display: none;
				}
			}
		}

		&>.nav__item+.nav__item {
			margin-left: var(--p40);
		}
	}

	@include media-down(sm) {
		flex-direction: column;
		padding-top: 1em;

		&>.nav__item {
			position: static;

			&>a,
			&>span {
				font-size: 30px;
				padding: var(--p20) var(--cw2);

				svg {
					fill: currentColor;
				}

				.down {
					display: none;
				}
			}
		}
	}
}

.btn--investor {
	@extend %btn;
	padding: var(--p10) var(--p20);
	white-space: nowrap;
	font-size: 14px;
	font-weight: bold;

	&,
	&:active,
	&:focus,
	&:visited {
		background-color: $foreground-primary;
		color: $foreground-negative;
	}

	@include media-up(md) {
		font-size: Max(12px, Min(16px, 1vw));
	}

	@include media-down(sm) {
		font-size: 24px;
		margin: var(--p50) var(--cw2);
		border: 1px solid white;
		padding: 10px 30px;
	}
}

.nav--submenu {
	@extend %nav-vertical;

	&>.nav__item {

		&>a,
		&>span {
			display: flex;
			align-items: center;
			@extend .extrasmall;
			padding: 20px;
			margin: 0;
			font-size: 0.7em;
			line-height: 1.8;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	@include media-up(md) {
		position: absolute;
		display: none;
		right: 0;
		top: 100%;
		margin: 0 0 0 -20px;
		min-width: Max(120px, 100%);
		box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.35);
		background: #fff;
		color: #000;

		&>.nav__item {

			&>a,
			&>span {
				justify-content: center;
			}

			&:hover {

				&>a,
				&>span {
					background: $background-primary;
					color: $foreground-negative;
				}
			}

			&.back {
				display: none;
			}
		}

		.nav__item:hover>&,
		&.active {
			display: block;
		}
	}

	@include media-down(sm) {
		position: absolute;
		justify-content: flex-start;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: var(--p80);
		background: $background-primary;
		z-index: 100;

		&:not(.active) {
			display: none;
		}

		&>.nav__item {

			&>a,
			&>span {
				font-size: 30px;
				padding: var(--p20) var(--cw2);

				svg {
					width: 1em;
					height: 1em;
					margin-right: var(--p10);
					fill: currentColor;
					position: absolute;
					transform: translateX(-150%);
				}
			}
		}
	}
}

@include media-down(sm) {
	body {
		&.menu-active {
			height: 100vh;
			overflow: hidden;
		}
	}
}

@keyframes clip-right {
	0% {
		clip-path: inset(0 100% 0 0);
	}

	100% {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes clip-bottom {
	0% {
		clip-path: inset(0 0 100% 0);
	}

	100% {
		clip-path: inset(0 0 0 0);
	}
}
