.horizontal-menu {
	padding: var(--p30) 0;

	&__title {
		@extend .extrasmall;
		font-weight: $font-bold;
		color: #4D4D4D;
		white-space: nowrap;
	}

	@include media-up(sm) {
		&__content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 var(--n10);
			width: calc(100% + var(--p20));
		}

		&__title {
			margin: 0 var(--p10);
			min-width: 13%;
		}
	}

	@include media-down(xs) {
		&__title {
			margin-bottom: var(--p40);
		}
	}

	padding-top: var(--p30);
	padding-bottom: var(--p30);
	border-top: 1px solid $background-quaternary;
	border-bottom: 1px solid $background-quaternary;
}

.horizontal-menu+.horizontal-menu {
	border-top: none;
}

.nav--horizontal-menu {
	@extend %nav;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: var(--n10) 0;
	width: 100%;
	line-height: 1;

	&>.nav__item {
		margin: var(--p10);

		&>a,
		&>span {
			@extend .extrasmall;
			display: block;
			padding: 9px 24px;
			border-radius: 20px;
			white-space: nowrap;
			background: $background-quaternary;
			color: $foreground-secondary;

			&:hover,
			&.active {
				background: $foreground-primary;
				color: $foreground-negative;
			}
		}
	}

	@include media-up(sm) {
		margin-left: var(--p10);
	}

	@include media-down(xs) {
		margin: var(--n10);
	}
}
