.news-proposition {
	padding: var(--p200) 0;
	background: $background-quaternary;

	&__title {
		@extend .h2;
		color: $foreground;
	}
}

.listing--news {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&>.listing__item {
		flex: 0 0 45%;
		max-width: 45%;
	}
}

.card--news {
	display: block;
	margin-bottom: var(--p100);

	.card__picture {
		@include aspect-clip(639, 540);
		margin-bottom: var(--p40);

		&>img {
			transition: transform ease-in-out $fast;
		}
	}

	.card__title {
		font-weight: bold;
		color: $foreground;
		margin-bottom: var(--p20);
	}

	.card__abstract {}

	.card__cta {
		padding-top: var(--p40);
	}

	.btn--more {
		color: $foreground-primary;
	}

	&:hover {

		.card__picture {
			&>img {
				transform: scale(1.1, 1.1);
			}
		}

		.btn--more {
			svg {
				transform: translateX(10px);
			}
		}
	}
}
