.profile-proposition {
	background: $background;

	.background-primary {
		display: flex;
		align-items: center;
	}

	&__content {
		margin: var(--p160) 0;
	}

	&__category {
		@extend .small;
		color: $foreground-primary;
	}

	&__title {
		@extend .h2;
		color: $foreground;
	}

	&__cta {
		padding-top: var(--p60);
	}

	@include media-up(sm) {

		&__picture {
			position: absolute;
			right: 0;
			transform: translateX(50%);
			width: auto;

			&>img {
				max-width: 50vw;
			}
		}
	}

	@include media-down(xs) {

		.background-primary {
			height: 50vw;
			margin-bottom: 25vw;
		}

		&__picture {
			position: absolute;
			left: 0;
			bottom: 0;
			transform: translateY(50%);
			width: auto;

			&>img {
				max-width: 100vw;
			}
		}
	}
}
