.product-proposition {

	&__head {
		padding: var(--cw4) 0 var(--cw4) 0;
		background: $background-quaternary;
	}

	&__category {
		@extend .small;
	}

	&__title {
		@extend .h1;
	}

	@include media-up(sm) {
		position: relative;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 75%;
			background: $background-quaternary;
		}
	}
}

.listing--product {
	display: flex;
	flex-wrap: wrap;

	@include media-up(sm) {
		&>.listing__item {
			flex: 0 0 50%;
			max-width: 50%;

			&:nth-child(even) {
				margin-top: -12.5vw;
				/*
				&>.card--product {
				}
				*/
			}
		}
	}

	@include media-down(xs) {
		margin-left: -15px;
		margin-right: -15px;

		&>.listing__item {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}

.card--product {

	.card__title {
		@extend .h4;
		margin-bottom: var(--p60);
	}

	.card__picture {
		margin-bottom: var(--p60);
	}

	.card__cta {
		padding-top: var(--p60);
	}

	.listing__item:nth-child(4n+1)>& {
		background: $background-negative;

		.card__title {
			color: $foreground-negative;

			&:before {
				background: $foreground-negative;
			}
		}

		.card__abstract {
			color: $foreground-negative;
		}
	}

	.listing__item:nth-child(4n+2)>& {
		background: $background;

		.card__title {
			color: $foreground;

			&:before {
				background: $foreground;
			}
		}
	}

	.listing__item:nth-child(4n+3)>& {
		background: $background-quaternary;

		.card__title {
			color: $foreground;

			&:before {
				background: $foreground;
			}
		}
	}

	.listing__item:nth-child(4n+4)>& {
		background: $background-tertiary;

		.card__title {
			color: $foreground-negative;

			&:before {
				background: $foreground-negative;
			}
		}

		.card__abstract {
			color: $foreground-negative;
		}
	}

	@include media-up(sm) {
		padding: var(--cw2);

		.card__title {
			position: relative;

			&:before {
				content: '';
				display: block;
				position: absolute;
				width: var(--p10);
				height: var(--p10);
				border-radius: 50%;
				left: -4.166666vw;
				bottom: 0.3em;
			}
		}
	}

	@include media-down(xs) {
		padding: var(--p100) var(--p40);

		.card__picture {
			@include aspect-clip(5, 3);
		}
	}
}
