.report-proposition {

	&.secondary {
		background: $background-quaternary;
	}

	.row {
		align-items: stretch;
	}

	&__content {
		padding: var(--p120) 0;
	}

	&__picture {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		&>img {
			width: 100%;
			height: 150%;
			object-fit: cover;
		}
	}

	&__title {
		@extend .h3;
		color: $foreground;
	}

	&__cta {
		padding-top: var(--p60);
	}

	@include media-down(xs) {
		&__picture {
			margin-left: -15px;
			margin-right: -15px;
			width: auto;
		}
	}
}
