.sticky-menu {
	position: sticky;
	height: 60px;
	z-index: 2;
	background: white;
	border-bottom: 1px solid $border;

	&__title {
		@extend .extrasmall;
		font-weight: $font-bold;
		color: #4D4D4D;
		white-space: nowrap;
	}

	@include media-up(md) {
		top: 110px;
	}

	@include media-up(lg) {
		top: 160px;
	}

	@include media-down(sm) {
		top: 90px;
	}

	@include media-down(xs) {
		top: 90px;
	}

	@include media-up(sm) {
		&__content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 18px 0;
		}

		&__title {
			margin-right: var(--p40);
		}
	}

	@include media-down(xs) {
		display: none;

		&__title {
			margin-bottom: var(--p40);
		}
	}
}

.nav--scroll-menu {
	@extend %nav;
	width: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: var(--n20);
	line-height: 1;

	&>.nav__item {
		margin: var(--p20);

		&>a {
			@extend .extrasmall;
			display: block;
			white-space: nowrap;
			color: $foreground-secondary;

			&:hover,
			&.active {
				color: $foreground-primary;
			}
		}
	}

	@include media-down(xs) {
		margin: var(--n10);
	}
}
