<div class="location-hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 offset-sm-2 col-md-6 offset-md-2 order-2 order-sm-1">
				<div class="location-hero__content" appear>
					<div class="location-hero__title">Locations</div>
					<div class="location-hero__abstract">Our presence worldwide.</div>
				</div>
			</div>
			<div class="col-sm-12 offset-sm-2 col-md-10 offset-md-2 order-1 order-sm-2">
				<div class="location-hero__picture">
					<img loading="lazy" src="/aquafil/img/location/world-pin.png" />
				</div>
			</div>
		</div>
	</div>
</div>
