<div class="location-proposition">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<div class="listing--location">
					<div class="listing__item" appear>
						<a href="/aquafil/location-detail.html" class="card--location">
							<div class="card--location__picture">
								<img loading="lazy" src="/aquafil/img/location/01-08.jpg" />
							</div>
							<div class="card--location__content">
								<div class="card--location__category">Aquafil Headquarter</div>
								<div class="card--location__title">Arco - TN</div>
								<div class="card--location__abstract">Polymerization, carpet yarn spinning</div>
								<div class="card--location__cta">
									<button type="button" class="btn--more"><span>Discover more</span> <svg><use xlink:href="#arrow-next"></use></svg></button>
								</div>
							</div>
						</a>
					</div>
					<div class="listing__item" appear>
						<a href="/aquafil/location-detail.html" class="card--location">
							<div class="card--location__picture">
								<img loading="lazy" src="/aquafil/img/location/01-09.jpg" />
							</div>
							<div class="card--location__content">
								<div class="card--location__category">Tessilquattro</div>
								<div class="card--location__title">Cares - TN</div>
								<div class="card--location__abstract">Carpet yarn interlacing / twisting</div>
								<div class="card--location__cta">
									<button type="button" class="btn--more"><span>Discover more</span> <svg><use xlink:href="#arrow-next"></use></svg></button>
								</div>
							</div>
						</a>
					</div>
					<div class="listing__item" appear>
						<a href="/aquafil/location-detail.html" class="card--location">
							<div class="card--location__picture">
								<img loading="lazy" src="/aquafil/img/location/01-10.jpg" />
							</div>
							<div class="card--location__content">
								<div class="card--location__category">Tessilquattro – Rovereto</div>
								<div class="card--location__title">Rovereto - TN</div>
								<div class="card--location__abstract">Carpet yarn, KdK and Superba dyeing</div>
								<div class="card--location__cta">
									<button type="button" class="btn--more"><span>Discover more</span> <svg><use xlink:href="#arrow-next"></use></svg></button>
								</div>
							</div>
						</a>
					</div>
					<div class="listing__item" appear>
						<a href="/aquafil/location-detail.html" class="card--location">
							<div class="card--location__picture">
								<img loading="lazy" src="/aquafil/img/location/01-01.jpg" />
							</div>
							<div class="card--location__content">
								<div class="card--location__category">Aquafil USA 1</div>
								<div class="card--location__title">Cartersville - Georgia</div>
								<div class="card--location__abstract">Carpet yarn spinning</div>
								<div class="card--location__cta">
									<button type="button" class="btn--more"><span>Discover more</span> <svg><use xlink:href="#arrow-next"></use></svg></button>
								</div>
							</div>
						</a>
					</div>
					<div class="listing__item" appear>
						<a href="/aquafil/location-detail.html" class="card--location">
							<div class="card--location__picture">
								<img loading="lazy" src="/aquafil/img/location/01-02.jpg" />
							</div>
							<div class="card--location__content">
								<div class="card--location__category">Aquafil Carpet Recycling #1</div>
								<div class="card--location__title">Phoenix - Arizona</div>
								<div class="card--location__abstract">Recovery, separation, pelletizing of carpet fluff</div>
								<div class="card--location__cta">
									<button type="button" class="btn--more"><span>Discover more</span> <svg><use xlink:href="#arrow-next"></use></svg></button>
								</div>
							</div>
						</a>
					</div>
					<div class="listing__item" appear>
						<a href="/aquafil/location-detail.html" class="card--location">
							<div class="card--location__picture">
								<img loading="lazy" src="/aquafil/img/location/01-03.jpg" />
							</div>
							<div class="card--location__content">
								<div class="card--location__category">Aquafil Carpet Recycling #2</div>
								<div class="card--location__title">Woodland - California</div>
								<div class="card--location__abstract">Recovery, separation, pelletizing of carpet fluff</div>
								<div class="card--location__cta">
									<button type="button" class="btn--more"><span>Discover more</span> <svg><use xlink:href="#arrow-next"></use></svg></button>
								</div>
							</div>
						</a>
					</div>
					<div class="listing__item" appear>
						<a href="/aquafil/location-detail.html" class="card--location">
							<div class="card--location__picture">
								<img loading="lazy" src="/aquafil/img/location/01-04.jpg" />
							</div>
							<div class="card--location__content">
								<div class="card--location__category">Aquafil Carpet Collection</div>
								<div class="card--location__title">Phoenix - Arizona</div>
								<div class="card--location__abstract">Recovery and separation of carpets after use</div>
								<div class="card--location__cta">
									<button type="button" class="btn--more"><span>Discover more</span> <svg><use xlink:href="#arrow-next"></use></svg></button>
								</div>
							</div>
						</a>
					</div>
					<div class="listing__item" appear>
						<a href="/aquafil/location-detail.html" class="card--location">
							<div class="card--location__picture">
								<img loading="lazy" src="/aquafil/img/location/01-05.jpg" />
							</div>
							<div class="card--location__content">
								<div class="card--location__category">Aquafil O’Mara</div>
								<div class="card--location__title">Rutherford College - North Carolina</div>
								<div class="card--location__abstract">Extruding and texturing</div>
								<div class="card--location__cta">
									<button type="button" class="btn--more"><span>Discover more</span> <svg><use xlink:href="#arrow-next"></use></svg></button>
								</div>
							</div>
						</a>
					</div>
					<div class="listing__item" appear>
						<a href="/aquafil/location-detail.html" class="card--location">
							<div class="card--location__picture">
								<img loading="lazy" src="/aquafil/img/location/01-06.jpg" />
							</div>
							<div class="card--location__content">
								<div class="card--location__category">Aquafil Carpet Collection</div>
								<div class="card--location__title">Chula Vista - California</div>
								<div class="card--location__abstract">Recovery and separation of carpets after use</div>
								<div class="card--location__cta">
									<button type="button" class="btn--more"><span>Discover more</span> <svg><use xlink:href="#arrow-next"></use></svg></button>
								</div>
							</div>
						</a>
					</div>
					<div class="listing__item" appear>
						<a href="/aquafil/location-detail.html" class="card--location">
							<div class="card--location__picture">
								<img loading="lazy" src="/aquafil/img/location/01-07.jpg" />
							</div>
							<div class="card--location__content">
								<div class="card--location__category">Aquafil Carpet Collection</div>
								<div class="card--location__title">San Diego - California</div>
								<div class="card--location__abstract">Recovery and separation of carpets after use</div>
								<div class="card--location__cta">
									<button type="button" class="btn--more"><span>Discover more</span> <svg><use xlink:href="#arrow-next"></use></svg></button>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
