<!-- footer -->
<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 offset-sm-2 col-md-5 offset-md-2 col-lg-4 offset-lg-2">
				<a href="/aquafil/" class="btn--logo"><svg><use xlink:href="#aquafil"></use></svg></a>
			</div>
			<div class="col-sm-18 offset-sm-2 offset-md-0 col-md-13 col-lg-14">
				<ul class="nav--footer">
					<li class="nav__item nav__item--title">
						<a href="#"><span>Who we are</span></a>
						<ul>
							<li class="nav__item"><a href="#"><span>Vision</span></a></li>
							<li class="nav__item"><a href="/aquafil/mission.html"><span>Mission</span></a></li>
							<li class="nav__item"><a href="/aquafil/history.html"><span>Storia</span></a></li>
							<li class="nav__item"><a href="/aquafil/location.html"><span>Sedi</span></a></li>
						</ul>
					</li>
					<li class="nav__item nav__item--title">
						<a href="#"><span>What we do</span></a>
						<ul>
							<li class="nav__item"><a href="#"><span>Bulk continuos filament</span></a></li>
							<li class="nav__item"><a href="#"><span>Nylon textile filament</span></a></li>
							<li class="nav__item"><a href="#"><span>Polymer</span></a></li>
							<li class="nav__item"><a href="#"><span>Engineering</span></a></li>
						</ul>
					</li>
					<li class="nav__item nav__item--title">
						<a href="#"><span>Sustainability & circularity</span></a>
						<ul>
							<li class="nav__item"><a href="/aquafil/pillars.html"><span>Our Pillars</span></a></li>
							<li class="nav__item"><a href="#"><span>Ambientale</span></a></li>
							<li class="nav__item"><a href="#"><span>Sociale</span></a></li>
							<li class="nav__item"><a href="#"><span>Economica</span></a></li>
							<li class="nav__item"><a href="#"><span>Certificazioni</span></a></li>
							<li class="nav__item"><a href="#"><span>Report sostenibilità</span></a></li>
						</ul>
					</li>
					<li class="nav__item nav__item--title">
						<a href="#"><span>Innovation & partnership</span></a>
						<ul>
							<li class="nav__item"><a href="#"><span>The future</span></a></li>
							<li class="nav__item"><a href="#"><span>Partners</span></a></li>
							<li class="nav__item"><a href="/aquafil/case-studies.html"><span>Case studies</span></a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-sm-20 offset-sm-2 offset-md-0 col-md-2">
				<ul class="nav--social">
					<li class="nav__item"><a href="#"><svg class="linkedin"><use xlink:href="#linkedin"></use></svg></a></li>
					<li class="nav__item"><a href="#"><svg class="twitter"><use xlink:href="#twitter"></use></svg></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-20 offset-sm-2">
				<div class="footer__divline"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 offset-sm-2">
				<div class="footer__colophon">
					<span>©2021 Aquafil S.p.A. - P.IVA 09652170961</span> - <a href="#" class="btn--link">Privacy</a>
				</div>
			</div>
			<div class="col-sm-10">
				<div class="footer__credits">
					<a href="https://www.websolute.com" class="btn--websolute"><svg><use xlink:href="#websolute"></use></svg></a>
				</div>
			</div>
		</div>
</footer>
