<!-- header -->
<header class="header" header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2">
				<div class="header__main">
					<div class="header__logo">
						<a href="/aquafil/" class="btn--logo"><svg><use xlink:href="#aquafil"></use></svg></a>
					</div>
					<div class="header__menu">
						<ul class="nav--main">
							<li class="nav__item"><a href="#"><span>Who we are</span> <svg><use xlink:href="#caret-down"></use></svg></a></li>
							<li class="nav__item"><a href="#"><span>What we do</span> <svg><use xlink:href="#caret-down"></use></svg></a></li>
							<li class="nav__item"><a href="#"><span>Sustainability & circularity</span> <svg><use xlink:href="#caret-down"></use></svg></a></li>
							<li class="nav__item"><a href="#"><span>Innovation & partnership</span> <svg><use xlink:href="#caret-down"></use></svg></a></li>
							<li class="nav__item"><a href="#"><span>Magazine</span> <svg><use xlink:href="#caret-down"></use></svg></a></li>
						</ul>
						<ul class="nav--language">
							<li class="nav__item"><a href="#"><span>En</span> <svg><use xlink:href="#arrow-down"></use></svg></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
