<!-- header -->
<header class="header" header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2">
				<div class="header__main">
					<div class="header__logo">
						<a href="/aquafil/" class="btn--logo"><svg><use xlink:href="#aquafil"></use></svg></a>
					</div>
					<div class="header__menu">
						<ul class="nav--main">
							<li class="nav__item">
								<a href="#"><span>Who we are</span> <svg><use xlink:href="#caret-down"></use></svg></a>
								<ul class="nav--submenu">
									<li class="nav__item"><a href="#"><span>Vision</span></a></li>
									<li class="nav__item"><a href="#"><span>Mission</span></a></li>
									<li class="nav__item"><a href="#"><span>Storia</span></a></li>
									<li class="nav__item"><a href="#"><span>Sedi</span></a></li>
								</ul>
							</li>
							<li class="nav__item">
								<a href="#"><span>What we do</span> <svg><use xlink:href="#caret-down"></use></svg></a>
								<ul class="nav--submenu">
									<li class="nav__item"><a href="#"><span>Bulk continuos filament</span></a></li>
									<li class="nav__item"><a href="#"><span>Nylon textile filament</span></a></li>
									<li class="nav__item"><a href="#"><span>Polymer</span></a></li>
									<li class="nav__item"><a href="#"><span>Engineering</span></a></li>
								</ul>
							</li>
							<li class="nav__item">
								<a href="#"><span>Sustainability & circularity</span> <svg><use xlink:href="#caret-down"></use></svg></a>
								<ul class="nav--submenu">
									<li class="nav__item"><a href="#"><span>Our Pillars</span></a></li>
									<li class="nav__item"><a href="#"><span>Ambientale</span></a></li>
									<li class="nav__item"><a href="#"><span>Sociale</span></a></li>
									<li class="nav__item"><a href="#"><span>Economica</span></a></li>
									<li class="nav__item"><a href="#"><span>Certificazioni</span></a></li>
									<li class="nav__item"><a href="#"><span>Report sostenibilità</span></a></li>
								</ul>
							</li>
							<li class="nav__item">
								<a href="#"><span>Innovation & partnership</span> <svg><use xlink:href="#caret-down"></use></svg></a>
								<ul class="nav--submenu">
									<li class="nav__item"><a href="#"><span>The future</span></a></li>
									<li class="nav__item"><a href="#"><span>Partners</span></a></li>
									<li class="nav__item"><a href="#"><span>Case studies</span></a></li>
								</ul>
							</li>
							<li class="nav__item">
								<a href="#"><span>Magazine</span> <svg><use xlink:href="#caret-down"></use></svg></a>
							</li>
						</ul>
						<ul class="nav--language">
							<li class="nav__item">
								<a href="#"><span>En</span> <svg><use xlink:href="#arrow-down"></use></svg></a>
								<ul class="nav--submenu">
									<li class="nav__item"><a href="#"><span>It</span></a></li>
									<li class="nav__item"><a href="#"><span>De</span></a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
