<div class="contacts-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-11 offset-sm-2 col-md-10 offset-md-3" gallery="/aquafil/img/contacts/info.jpg" scroll scrollSpeed="1">
                <img loading="lazy" src="/aquafil/img/contacts/info.jpg" />
                <!-- @@include ./../shared/zoom-button.html -->
            </div>
            <div class="col-sm-8 offset-sm-1 col-md-7 offset-md-2">
                <div class="contacts-info__text-block">
                    <a href="#" class="contacts-info__title">
                        Sales network <svg class="contacts-info__arrow"><use xlink:href="#arrow-next-md"></use></svg>
                    </a>
                    <div class="contacts-info__content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim, ultricies interdum mauris felis tristique .
                    </div>
                </div>
                <div class="contacts-info__text-block">
                    <a href="#" class="contacts-info__title">
                        Country <svg class="contacts-info__arrow"><use xlink:href="#arrow-next-md"></use></svg>
                    </a>
                    <div class="contacts-info__content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim, ultricies interdum mauris felis tristique .
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>