<div class="contacts-hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 offset-sm-2 col-md-9 offset-md-3">
                <div class="contacts-hero__title">Headquarter</div>
                <div class="contacts-hero__text">
                    <div class="contacts-hero__paragraph-title">
                        Aquafil S.P.A.
                    </div>
                    <div class="contacts-hero__paragraph-text">
                        via Linfano, 9 - 38062 Arco (Trento) ITALY<br>
                        <a href="phone:+390464581111">+39 0464 581111</a><br>
                        <a href="phone:+390464532267">+39 0464 532267</a><br>
                        <a href="mailto:info@aquafil.com">info@aquafil.com</a><br>
                        <a href="mailto:pec.aquafil@aquafil.legalmail.it">pec.aquafil@aquafil.legalmail.it</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-12">
                <div class="contacts-hero__map">
                    <img src="/aquafil/img/contacts/map.jpg">
                </div>
            </div>
        </div>
    </div>
</div>    

