.title-hero {
	position: relative;

	&__title {
		@extend .h2;
		color: $foreground;
	}

	@include media-up(sm) {
		padding: var(--p120) 0;

		&__title {
			margin-bottom: var(--p80);
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 100% / 24 * 22;
			width: 100% / 24 * 2;
			height: 100%;
			background: $background-negative;
		}
	}

	@include media-up(md) {
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 100% / 24 * 21;
			width: 100% / 24 * 3;
			height: 100%;
			background: $background-negative;
		}
	}

	@include media-down(xs) {
		padding: var(--p80) 0;

		&__title {
			margin-bottom: var(--p60);
		}
	}
}

.media-text {
	position: relative;

	&__title {
		@extend .h2;
	}

	@include media-up(sm) {
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 100vw / 24 * 2;
			left: 0;
			width: 100% / 24 * 2;
			bottom: 0;
			background: #EBEBEB;
		}
	}

	@include media-up(sm) {
		&__content {
			padding-top: var(--p230);
		}
	}

	@include media-up(md) {
		&__content {
			padding-top: var(--p280);
		}
	}

	@include media-up(lg) {
		&__content {
			padding-top: var(--p330);
		}
	}

	@include media-down(xs) {
		padding: var(--p80) 0;

		&__picture {
			margin-bottom: var(--p80);
		}
	}
}

.media-text-primary {
	position: relative;

	&__title {
		@extend .h2;
	}

	&__abstract {}

	@include media-up(sm) {
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 100% / 24 * 3;
			width: 100% / 24 * 21;
			bottom: 0;
			background: $background-negative;
		}

		&__title {
			color: $foreground-negative;
		}

		&__abstract {
			color: $foreground-negative;
		}
	}

	@include media-up(md) {
		&__content {
			padding: var(--p120) 0;
		}
	}

	@include media-down(sm) {
		padding: var(--p80) 0;

		&__picture {
			margin-bottom: var(--p80);
		}
	}
}

.media-text-secondary {
	position: relative;

	/*
	&__title {
		@extend .h2;
	}
	*/

	&__title {
		@extend .h5;
		margin-bottom: var(--p40);
	}

	@include media-up(sm) {

		&__offset {
			position: relative;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: $background-quaternary;
				transform: translateX(var(--n80));
			}
		}

		&__picture {
			// border: 1px solid $background-negative;
			box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.2);

			&>img {
				position: relative;
				width: 100%;
			}
		}
	}

	@include media-up(md) {
		padding: var(--p120) 0;

		&__content {
			padding: var(--p60) 0 0 0;
		}
	}

	@include media-down(sm) {
		padding: var(--p80) 0;

		&__picture {
			margin-bottom: var(--p80);
		}
	}
}

.text-media-secondary {
	position: relative;

	&__title {
		@extend .h2;
	}

	@include media-up(sm) {

		&__offset {
			position: relative;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: $background-quaternary;
				transform: translateX(var(--p80));
			}
		}

		&__picture {
			// border: 1px solid $background-negative;
			box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.2);

			&>img {
				position: relative;
				width: 100%;
			}
		}
	}

	@include media-up(md) {
		padding: var(--p120) 0;

		&__content {
			padding: var(--p120) 0 0 0;
		}
	}

	@include media-down(sm) {
		padding: var(--p80) 0;

		&__picture {
			margin-bottom: var(--p80);
		}

		&__cta {
			margin-bottom: 40px;
		}
	}
}

.quote {
	position: relative;
	background: #EBEBEB;

	&__content {
		background: $background;
	}

	&__title {
		position: relative;
		@extend .h4;
		color: $foreground;
		margin-bottom: var(--p30);

		&>svg {
			position: absolute;
			left: var(--n40);
			width: var(--p90);
			height: var(--p60);
			transform: translateX(-100%);
			fill: #EBEBEB;
		}
	}

	&__abstract {
		display: flex;
		align-items: center;
		@extend .small;
		color: $foreground;

		&:before {
			content: '';
			display: block;
			width: var(--p30);
			height: 1px;
			background: $background-negative;
			margin-right: var(--p20);
		}
	}

	&__picture {
		display: flex;
		align-items: center;
		height: 100%;
	}

	@include media-up(sm) {
		padding: var(--p120) 0;

		&__inset {
			margin-left: var(--n400);
		}

		&__content {
			padding: var(--p240) var(--p500) var(--p240) var(--p220);
		}

	}

	@include media-down(xs) {
		padding: var(--p80) 0;

		&__picture {
			justify-content: center;
		}

		&__content {
			padding: var(--p40);
		}
	}
}

.title-text {

	&__title {
		@extend .h2;
		color: $foreground;
	}

	&__abstract,
	&__description {
		@extend .text;
		max-width: 600px;
	}

	&.negative {
		color: #BDCFD8;

		.title-text__title {
			color: $foreground-negative;
		}
	}

	&:not(.negative) {
		.btn--more {
			color: $foreground-primary;
		}
	}

	&.secondary {
		background: $background-quaternary;
	}

	@include media-up(sm) {
		padding: var(--p120) 0;

		&__title,
		&__abstract,
		&__cta {
			margin-bottom: var(--p80);
		}

		&__cta {
			margin-top: var(--p40);
		}
	}

	@include media-down(xs) {
		padding: var(--p80) 0;

		&__title,
		&__abstract,
		&__cta {
			margin-bottom: var(--p60);
		}

		&__cta {
			margin-top: var(--p20);
		}
	}
}

.image-full {
	position: relative;

	&__picture {
		img {
			width: 100%;
		}
	}

	@include media-down(xs) {
		&__picture {
			@include aspect-clip(1, 1);
		}
	}
}

.title-hero-02 {
	position: relative;

	&__title {
		@extend .h2;
		color: $foreground;
	}

	@include media-up(sm) {
		padding: var(--p120) 0;

		&__title {
			margin-bottom: var(--p80);
		}
	}

	@include media-down(xs) {
		padding: var(--p80) 0;

		&__title {
			margin-bottom: var(--p60);
		}
	}
}

.columns {
	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	@include media-up(sm) {
		padding: var(--p80) 0 var(--p120) 0;

		&.negative {
			padding: var(--p120) 0;
		}
	}

	@include media-down(xs) {
		padding: var(--p80) 0;

		&__column {
			margin-bottom: var(--p40);
		}
	}
}

.card--icon {
	&__icon {
		width: 90px;
		margin-bottom: var(--p40);
	}

	&__title {
		@extend .h5;
		margin-bottom: var(--p30);
		color: $foreground;
	}

	&__abstract {
		@extend .small;
		max-width: 320px;
	}

	&__description {
		@extend .extrasmall;
		max-width: 320px;
	}
}

.negative .card--icon__title {
	color: $foreground-negative;
}

.card--numbers {
	&__title {
		@extend .h1;
		margin-bottom: 0;
		color: $foreground;
	}

	&__abstract {
		flex: 1 1 auto;
		@extend .h5;
		max-width: 320px;
	}

	&__cta {
		.btn--more {
			color: $foreground-primary;
		}
	}
}
