<div class="history-hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2">
				<div class="history-hero__content" appear>
					<div class="history-hero__title">Over 50 years of innvovation</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9 offset-sm-2 col-md-8 offset-md-3">
				<div class="history-hero__content" appear>
					<div class="history-hero__abstract">For more than 50 years, Aquafil has led the way for doing business with sustainability and circular economy at the core of its values and development strategy.</div>
				</div>
			</div>
		</div>
	</div>
</div>
