<div class="history-listing">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-20 offset-md-2">
				<div class="listing--history">
					<div class="listing__item single" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-01.jpg", "year": "1965", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item single" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-02.jpg", "year": "1969", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-03.jpg", "year": "1986", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-04.jpg", "year": "1988", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-05.jpg", "year": "1990", "title": "Title", "category": "sustainability", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-06.jpg", "year": "1993", "title": "Special Polymers and Tessil4", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item single" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-07.jpg", "year": "1995", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item single" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-08.jpg", "year": "1998", "title": "Title", "category": "sustainability", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-09.jpg", "year": "1999", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-10.jpg", "year": "2007", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item single" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-11.jpg", "year": "2008", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item single" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-12.jpg", "year": "2008", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-13.jpg", "year": "2009", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-14.jpg", "year": "2010", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-15.jpg", "year": "2011", "title": "Econyl", "category": "sustainability", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-16.jpg", "year": "2012", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item single" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-17.jpg", "year": "2013", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item single" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-18.jpg", "year": "2013", "title": "Title", "category": "sustainability", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-19.jpg", "year": "2014", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-20.jpg", "year": "2014", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item single" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-21.jpg", "year": "2015", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item single" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-22.jpg", "year": "2015", "title": "Title", "category": "sustainability", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-23.jpg", "year": "2015", "title": "Title", "category": "sustainability", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-24.jpg", "year": "2017", "title": "Title", "category": "sustainability", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-25.jpg", "year": "2017", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-26.jpg", "year": "2018", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item single" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-27.jpg", "year": "2018", "title": "Title", "category": "sustainability", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item single" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-28.jpg", "year": "2018", "title": "Title", "category": "sustainability", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
					<div class="listing__item double" appear>
						<!-- @@include ./card-history.html { "img": "/aquafil/img/history/01-29.jpg", "year": "2019", "title": "Title", "category": "company", "abstract": "Nascita del sistema  di rigenerazione ECONYL, un modello produttivo che permette ad Aquafil di ottenere materie prime rigenerate a partire dal riciclo di rifiuti di nylon." } -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
