<div class="sticky-menu">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2">
				<div class="sticky-menu__content">
					<!--
					<div class="sticky-menu__title">
						Change country
					</div>
					-->
					<ul class="nav--scroll-menu" scroll-menu>
						<li class="nav__item"><a href="#the-eco-pledge" (scrollTo)="'#the-eco-pledge'">The Eco Pledge</a></li>
						<li class="nav__item"><a href="#our-sustainability-policy" (scrollTo)="'#our-sustainability-policy'">Our Sustainability Policy</a></li>
						<li class="nav__item"><a href="#sustainable-development-goals" (scrollTo)="'#sustainable-development-goals'">Sustainable development goals</a></li>
						<li class="nav__item"><a href="#energy-and-recycling" (scrollTo)="'#energy-and-recycling'">Energy & recycling</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
