<div class="gallery-modal" gallery-modal>
	<div class="gallery-modal__content">
		<!-- swiper -->
		<div class="swiper-container" swiper-gallery [items]="items" [initialSlide]="initialSlide">
			<div class="swiper-wrapper">
				<!-- slide -->
				<div class="swiper-slide" *for="let item of items">
					<div class="gallery-modal__picture">
						<img [src]="item.src" />
					</div>
				</div>
			</div>
			<div class="gallery-modal__nav">
				<!-- prev button -->
				<button type="button" class="btn--gallery-prev">
					<svg class="caret"><use xlink:href="#caret-left"></use></svg>
				</button>
				<!-- next button -->
				<button type="button" class="btn--gallery-next">
					<svg class="caret"><use xlink:href="#caret-right"></use></svg>
				</button>
			</div>
		</div>
	</div>
	<button type="button" class="btn--close" (click)="onClose()"><svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#close"></use></svg></button>
</div>
