body {
	font-family: $font-primary;
	font-weight: $font-light;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
	background: $background;
	color: $text;
}

::selection {
	background: $primary;
	color: $foreground-negative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
}

.primary {
	color: $foreground-primary !important;
}

.anchors {
	a {
		&:not([class]) {
			color: $foreground-primary;
			transition: color ease-in-out $fast;
			display: inline-block;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				left: 0;
				bottom: 2px;
				background: currentColor;
				transform-origin: left;
				transform: scaleX(0);
				transition: transform cubic-bezier(0.65, 0.05, 0.36, 1) 350ms;
			}

			&:hover {
				color: $foreground-primary;

				&:after {
					transform: scaleX(1);
				}
			}
		}
	}
}

/*
.h1 {
	font-weight: bold;
	font-size: Max(34px, Min(120px, 6.25vw));
	line-height: 1.2;
	margin-bottom: 0.16666em;
}

.h2 {
	font-weight: bold;
	font-size: Max(30px, Min(72px, 3.75vw));
	line-height: 1.36;
	margin-bottom: 0.55555em;
}

.h3 {
	font-weight: bold;
	font-size: Max(28px, Min(60px, 3.125vw));
	line-height: 1.5;
	margin-bottom: 1em;
}

.h4 {
	font-weight: bold;
	font-size: Max(18px, Min(40px, 2.0833vw));
	line-height: 1.36;
	margin-bottom: 1.11111em;
}

.h5 {
	font-weight: bold;
	font-size: Max(16px, Min(36px, 1.875vw));
	line-height: 1.36;
	margin-bottom: 1.11111em;
}

.h6 {
	font-weight: bold;
	font-size: Max(15px, Min(24px, 1.25vw));
	line-height: 1.36;
	margin-bottom: 1.11111em;
}
*/

.h1 {
	font-weight: bold;
	font-size: Max(34px, Min(90px, 4.6875vw));
	line-height: 1.2;
	margin-bottom: 0.16666em;
}

.h2 {
	font-weight: bold;
	font-size: Max(30px, Min(72px, 3.75vw));
	line-height: 1.2;
	margin-bottom: 0.4em; //1em;
}

.h3 {
	font-weight: bold;
	font-size: Max(28px, Min(60px, 3.125vw));
	line-height: 1.2;
	margin-bottom: 0.4em; //1em;
}

.h4 {
	font-weight: bold;
	font-size: Max(18px, Min(40px, 2.0833vw));
	line-height: 1.36;
	margin-bottom: 1.11111em;
}

.h5 {
	font-weight: bold;
	font-size: Max(16px, Min(36px, 1.875vw));
	line-height: 1.36;
	margin-bottom: 1.11111em;
}

.h6 {
	font-weight: bold;
	font-size: Max(15px, Min(24px, 1.25vw));
	line-height: 1.36;
	margin-bottom: 1.11111em;
}

.text {
	// font-size: Max(15px, Min(24px, 1.25vw));
	font-size: Max(15px, Min(21px, 1.09375vw));
	line-height: 1.5;
	@extend .anchors;
}

.small {
	font-size: Max(12px, Min(18px, 0.9375vw));
	line-height: 1.5;
	margin-bottom: 0.83333em;
}

.extrasmall {
	font-size: Max(11px, Min(16px, 0.83333vw));
	line-height: 1.5;
	// line-height: 1.375;
}

.smallest {
	font-size: Max(10px, Min(14px, 0.72916vw));
	line-height: 1.2;
}

body {
	font-size: Max(15px, Min(21px, 1.09375vw));
	line-height: 1.5;
}

p {
	margin: 0 0 0.75em 0;
}

.foreground {
	color: $foreground;
}

.primary {
	color: $primary;
}
