<div class="case-studies-hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<div class="case-studies-hero__content" appear>
					<div class="case-studies-hero__title">Case studies</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 offset-sm-3 col-md-7 offset-md-4">
				<div class="case-studies-hero__content" appear>
					<div class="case-studies-hero__abstract">Partnering with the world's pioneering organizations to make business more radically efficient, and pushing each other to minimize waste and maximize our resourcefulness.</div>
				</div>
			</div>
		</div>
	</div>
</div>
