<div class="content-slider borders negative">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<!-- swiper -->
				<div class="swiper-container" swiper-content>
					<div class="content-slider__index"><span class="page" [innerHTML]="slideIndex"></span> of <span [innerHTML]="slideTotal"></span></div>
					<div class="swiper-wrapper">
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__title">To acknowledge the needs of everyone within the Aquafil Group worldwide</div>
									<div class="card--content__abstract">
										<p>and those who help to achieve our goals: employees, contractors, suppliers and local communities in which the Group operates.</p>
									</div>
									<!--
									<div class="card--content__cta">
										<a href="#" class="btn--more"><span>Learn more</span> <svg><use xlink:href="#arrow-next"></use></svg></a>
									</div>
									-->
								</div>
								<div class="card--content__right">
									<div class="card--content__picture">
										<img loading="lazy" src="/aquafil/img/mission/02-01.png" />
									</div>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__title">To acknowledge the needs of everyone within the Aquafil Group worldwide</div>
									<div class="card--content__abstract">
										<p>and those who help to achieve our goals: employees, contractors, suppliers and local communities in which the Group operates.</p>
									</div>
									<!--
									<div class="card--content__cta">
										<a href="#" class="btn--more"><span>Learn more</span> <svg><use xlink:href="#arrow-next"></use></svg></a>
									</div>
									-->
								</div>
								<div class="card--content__right">
									<div class="card--content__picture">
										<img loading="lazy" src="/aquafil/img/mission/02-01.png" />
									</div>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__title">To acknowledge the needs of everyone within the Aquafil Group worldwide</div>
									<div class="card--content__abstract">
										<p>and those who help to achieve our goals: employees, contractors, suppliers and local communities in which the Group operates.</p>
									</div>
									<!--
									<div class="card--content__cta">
										<a href="#" class="btn--more"><span>Learn more</span> <svg><use xlink:href="#arrow-next"></use></svg></a>
									</div>
									-->
								</div>
								<div class="card--content__right">
									<div class="card--content__picture">
										<img loading="lazy" src="/aquafil/img/mission/02-01.png" />
									</div>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__title">To acknowledge the needs of everyone within the Aquafil Group worldwide</div>
									<div class="card--content__abstract">
										<p>and those who help to achieve our goals: employees, contractors, suppliers and local communities in which the Group operates.</p>
									</div>
									<!--
									<div class="card--content__cta">
										<a href="#" class="btn--more"><span>Learn more</span> <svg><use xlink:href="#arrow-next"></use></svg></a>
									</div>
									-->
								</div>
								<div class="card--content__right">
									<div class="card--content__picture">
										<img loading="lazy" src="/aquafil/img/mission/02-01.png" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-slider__nav">
						<!-- prev button -->
						<button type="button" class="btn--prev">
							<svg class="circle"><use xlink:href="#circle-dotted"></use></svg>
							<svg class="caret"><use xlink:href="#caret-left"></use></svg>
						</button>
						<!-- next button -->
						<button type="button" class="btn--next">
							<svg class="circle"><use xlink:href="#circle-dotted"></use></svg>
							<svg class="caret"><use xlink:href="#caret-right"></use></svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
