<div class="content-slider borders negative">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<!-- swiper -->
				<div class="swiper-container" swiper-content>
					<div class="content-slider__index"><span class="page" [innerHTML]="slideIndex"></span> of <span [innerHTML]="slideTotal"></span></div>
					<div class="swiper-wrapper">
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__title">Raccolta rifiuti</div>
									<div class="card--content__abstract">
										<p>Lavoriamo nella direzione dell’approvvigionamento della materia prima, che non deve essere più fossile ma da rifiuti e biomassa.</p>
									</div>
								</div>
								<div class="card--content__right">
									<div class="card--content__picture">
										<img src="/aquafil/img/pillars/03-01.png" />
									</div>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__title">Rigenerazione</div>
									<div class="card--content__abstract">
										<p>uno dei nostri obiettivi è mettere in piedi una supply chain che ci permetta di raccogliere i rifiuti di nylon per poi decomporli e rigenerali.</p>
									</div>
								</div>
								<div class="card--content__right">
									<div class="card--content__picture">
										<img src="/aquafil/img/pillars/03-01.png" />
									</div>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__title">R&D nuovi materiali</div>
									<div class="card--content__abstract">
										<p>Ci impegniamo nella produzione di prodotti finiti, che devono essere realizzati in modo da essere facilmente smaltellabili al termine del loro ciclo di vita.</p>
									</div>
								</div>
								<div class="card--content__right">
									<div class="card--content__picture">
										<img src="/aquafil/img/pillars/03-01.png" />
									</div>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="swiper-slide">
							<div class="card--content">
								<div class="card--content__left">
									<div class="card--content__title">Eco-design</div>
									<div class="card--content__abstract">
										<p>Dobbiamo aggiungere in modo sostenibile, alcune performance al nylon per renderlo un materiale adatto a più applicazioni, oggi inquinanti.</p>
									</div>
								</div>
								<div class="card--content__right">
									<div class="card--content__picture">
										<img src="/aquafil/img/pillars/03-01.png" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-slider__nav">
						<!-- prev button -->
						<button type="button" class="btn--prev">
							<svg class="circle"><use xlink:href="#circle-dotted"></use></svg>
							<svg class="caret"><use xlink:href="#caret-left"></use></svg>
						</button>
						<!-- next button -->
						<button type="button" class="btn--next">
							<svg class="circle"><use xlink:href="#circle-dotted"></use></svg>
							<svg class="caret"><use xlink:href="#caret-right"></use></svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
