<div class="primary-hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-14 offset-sm-2 col-md-14 offset-md-2 order-2 order-sm-1">
				<div class="primary-hero__content" appear>
					<div class="primary-hero__category">Our Mission</div>
					<div class="primary-hero__title">Aquafil’s mission</div>
				</div>
			</div>
			<div class="col-sm-15 col-md-17 order-1 order-sm-2">
				<div class="primary-hero__picture" gallery="/aquafil/img/mission/hero.jpg" scroll scrollSpeed="1">
					<img loading="lazy" src="/aquafil/img/mission/hero.jpg" />
				</div>
			</div>
		</div>
	</div>
</div>
