<div class="col-sm-15 page--investors__content">
    <h1 class="page--investors__page-title">Corporate governance</h1>

    <section id="directors">
        <h2 class="page--investors__section-title">Board of Directors</h2>
        <div class="page--investors__text-intro">
            BoD defines the Group's global strategies by developing actions for growth, launching new activities in various sectors and implementing plans for investment, control and assessment of results.
        </div>

        <div class="listing-board">
            <a href="#" class="listing-board__card">
                <div class="listing-board__image">
                    <img src="img/investors/corporate-governance-1.jpg">
                    <button type="button" class="btn--plus listing-board__btn"><svg><use xlink:href="#plus"></use></svg></button>
                </div>
                <div class="listing-board__name">Giulio Bonazzi</div>
                <div class="listing-board__role">Chairman and CEO</div>
            </a>
            <a href="#" class="listing-board__card">
                <div class="listing-board__image">
                    <img src="img/investors/corporate-governance-2.jpg">
                    <button type="button" class="btn--plus listing-board__btn"><svg><use xlink:href="#plus"></use></svg></button>
                </div>
                <div class="listing-board__name">Adriano Vivaldi</div>
                <div class="listing-board__role">Executive Director</div>
            </a>
            <a href="#" class="listing-board__card">
                <div class="listing-board__image">
                    <img src="img/investors/corporate-governance-3.jpg">
                    <button type="button" class="btn--plus listing-board__btn"><svg><use xlink:href="#plus"></use></svg></button>
                </div>
                <div class="listing-board__name">Stefano Giovanni Loro</div>
                <div class="listing-board__role">Director</div>
            </a>
            <a href="#" class="listing-board__card">
                <div class="listing-board__image">
                    <img src="img/investors/corporate-governance-4.jpg">
                    <button type="button" class="btn--plus listing-board__btn"><svg><use xlink:href="#plus"></use></svg></button>
                </div>
                <div class="listing-board__name">Franco Rossi</div>
                <div class="listing-board__role">Director</div>
            </a>
            <a href="#" class="listing-board__card">
                <div class="listing-board__image">
                    <img src="img/investors/corporate-governance-5.jpg">
                    <button type="button" class="btn--plus listing-board__btn"><svg><use xlink:href="#plus"></use></svg></button>
                </div>
                <div class="listing-board__name">Silvana Bonazzi</div>
                <div class="listing-board__role">Director</div>
            </a>
            <a href="#" class="listing-board__card">
                <div class="listing-board__image">
                    <img src="img/investors/corporate-governance-6.jpg">
                    <button type="button" class="btn--plus listing-board__btn"><svg><use xlink:href="#plus"></use></svg></button>
                </div>
                <div class="listing-board__name">Simona Heidempergher (*)(**)</div>
                <div class="listing-board__role">Director</div>
            </a>
            <a href="#" class="listing-board__card">
                <div class="listing-board__image">
                    <img src="img/investors/corporate-governance-7.jpg">
                    <button type="button" class="btn--plus listing-board__btn"><svg><use xlink:href="#plus"></use></svg></button>
                </div>
                <div class="listing-board__name">Margherita Zambon</div>
                <div class="listing-board__role">Director</div>
            </a>
            <a href="#" class="listing-board__card">
                <div class="listing-board__image">
                    <img src="img/investors/corporate-governance-8.jpg">
                    <button type="button" class="btn--plus listing-board__btn"><svg><use xlink:href="#plus"></use></svg></button>
                </div>
                <div class="listing-board__name">Francesco Profumo (*)</div>
                <div class="listing-board__role">Director</div>
            </a>
            <a href="#" class="listing-board__card">
                <div class="listing-board__image">
                    <img src="img/investors/corporate-governance-9.jpg">
                    <button type="button" class="btn--plus listing-board__btn"><svg><use xlink:href="#plus"></use></svg></button>
                </div>
                <div class="listing-board__name">Ilaria Maria Dalla Riva (*)</div>
                <div class="listing-board__role">Director</div>
            </a>
        </div>

        <p>
            The Board of Directors will remain in office until the approval of the Financial Statements as of December 31, 2022.
        </p>
        <p>
            (*) Director who has declared that he satisfies the independence requirements pursuant to Articles 147-ter, paragraph 4 of the Consolidating Law on Finance, as well as Article 3 of the Code of Self-Governance.
        </p>
        <p>
            (**) Lead Independent Director
        </p>
    </section>

    <section id="statutory">
        <h2 class="page--investors__section-title">Board of Statutory Auditors</h2>

        <p>
            The Board of Auditors supervises the compliance with the law and with the By-laws, the compliance with the principles of correct administration, as well as the efficacy of the internal control system and of the financial information management process.
        </p>

        <div class="gray-card">
            <span class="gray-card__name">Stefano Poggi Longostrevi</span>
            <span class="gray-card__role">Chairman</span>
        </div>
        <div class="gray-card">
            <span class="gray-card__name">Beatrice Bompieri</span>
            <span class="gray-card__role">Statutory Auditor</span>
        </div>
        <div class="gray-card">
            <span class="gray-card__name">Bettina Solimando</span>
            <span class="gray-card__role">Statutory Auditor</span>
        </div>
        <div class="gray-card">
            <span class="gray-card__name">Marina Manna</span>
            <span class="gray-card__role">Chairman</span>
        </div>
        <div class="gray-card">
            <span class="gray-card__name">Davide Barbieri</span>
            <span class="gray-card__role">Statutory Auditor</span>
        </div>
    </section>

    <section id="auditors">
        <h2 class="page--investors__section-title">Auditors Firm</h2>

        <p>
            PricewaterhouseCoopers S.p.A. is the appointed independent auditing firm. Its registered office and headquarters are located at 91 Via Monte Rosa, Milan. PricewaterhouseCoopers S.p.A. is listed in the Register of Auditors at the Ministry of Economy and Finance no. 119644 pursuant to the Legislative Decree no. 39/2010.            
        </p>
    </section>

    <section id="risk-committee">
        <h2 class="page--investors__section-title">Audit and Risk Committee</h2>

        <div class="gray-card">
            <span class="gray-card__name">Francesco Profumo</span>
            <span class="gray-card__role">President of the Committee</span>
        </div>
        <div class="gray-card">
            <span class="gray-card__name">Margherita Zambon</span>
            <span class="gray-card__role">Committee Member</span>
        </div>
        <div class="gray-card">
            <span class="gray-card__name">Ilaria Maria Dalla Riva</span>
            <span class="gray-card__role">Committee Member</span>
        </div>

    </section>

    <section id="remuneration">
        <h2 class="page--investors__section-title">Appointment and Remuneration Committee</h2>

        <div class="gray-card">
            <span class="gray-card__name">Francesco Profumo</span>
            <span class="gray-card__role">President of the Committee</span>
        </div>
        <div class="gray-card">
            <span class="gray-card__name">Margherita Zambon</span>
            <span class="gray-card__role">Committee Member</span>
        </div>
        <div class="gray-card">
            <span class="gray-card__name">Ilaria Maria Dalla Riva</span>
            <span class="gray-card__role">Committee Member</span>
        </div>

    </section>

    <section id="supervisory">
        <h2 class="page--investors__section-title">Supervisory Body ex D.Lgs. 231/01</h2>

        <div class="gray-card">
            <span class="gray-card__name">Fabio Egidi</span>
            <span class="gray-card__role">President of the Committee</span>
        </div>
        <div class="gray-card">
            <span class="gray-card__name">Karim Tonelli</span>
            <span class="gray-card__role">Committee Member</span>
        </div>
        <div class="gray-card">
            <span class="gray-card__name">Marco Sargenti</span>
            <span class="gray-card__role">Committee Member</span>
        </div>

    </section>

    <section class="last-section">
        <p>
            For the transmission and storage of the Regulated Information, the Company uses the transmission system eMarket SDIR and the storage device eMarket STORAGE which can be consulted on the website www.emarketstorage.com and are managed by Spafid Connect S.p.A., with registered office in Milan, at 10, Foro Buonaparte.
        </p>
    </section>

</div>