<div class="col-sm-15 page--investors__content">
	<h1 class="page--investors__page-title">Informazioni per gli Azionisti</h1>
	<section>
		<h2 class="page--investors__section-title">Regolamento Warrant</h2>
		<div class="page--investors__downloads">
			<div class="page--investors__downloads-item">
				<p class="page--investors__downloads-item-label">KID Market Warrant</p>
				<a href="http://aquafil.wslabs.it/assets/uploads/regolamenti_warrant-200.pdf" download="regolamenti_warrant-200.pdf" class="btn--press"><span>PDF - 0 bytes</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
			</div>
			<div class="page--investors__downloads-item">
				<p class="page--investors__downloads-item-label">Regolamento Sponsor Warrant</p>
				<a href="http://aquafil.wslabs.it/assets/uploads/regolamenti_warrant-126.pdf" download="regolamenti_warrant-126.pdf" class="btn--press"><span>PDF - 0 bytes</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
			</div>
			<div class="page--investors__downloads-item">
				<p class="page--investors__downloads-item-label">Regolamento Market Warrant Aquafil</p>
				<a href="http://aquafil.wslabs.it/assets/uploads/regolamenti_warrant-133.pdf" download="regolamenti_warrant-133.pdf" class="btn--press"><span>PDF - 0 bytes</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
			</div>
		</div>
	</section>
	<section>
		<h2 class="page--investors__section-title">Capitale sociale</h2>
		<div class="">
			<p>Composizione del capitale sociale di Aquafil S.p.A., come comunicata in data 6&nbsp;dicembre 2018:</p>
		</div>
		<div class="table">
			<div class="table__row table__row--head">
				<div class="table__cell">
					<div class="table__value">Tipologia</div>
				</div>
				<div class="table__cell">
					<div class="table__value">ISIN</div>
				</div>
				<div class="table__cell" data-align="right">
					<div class="table__value">Numero azioni</div>
				</div>
			</div>
			<div class="table__row">
				<div class="table__cell" data-title="Tipologia">
					<div class="table__value">Azioni ordinarie</div>
				</div>
				<div class="table__cell" data-title="ISIN">
					<div class="table__value">IT0005241192</div>
				</div>
				<div class="table__cell" data-title="Numero azioni" data-align="right">
					<div class="table__value">42.822.774</div>
				</div>
			</div>
			<div class="table__row">
				<div class="table__cell" data-title="Tipologia">
					<div class="table__value">Azioni B</div>
				</div>
				<div class="table__cell" data-title="ISIN">
					<div class="table__value">IT0005285330</div>
				</div>
				<div class="table__cell" data-title="Numero azioni" data-align="right">
					<div class="table__value">8.316.020</div>
				</div>
			</div>
			<div class="table__row">
				<div class="table__cell" data-title="Tipologia">
					<div class="table__value">Azioni C</div>
				</div>
				<div class="table__cell" data-title="ISIN">
					<div class="table__value">IT0005241747</div>
				</div>
				<div class="table__cell" data-title="Numero azioni" data-align="right">
					<div class="table__value">80.000</div>
				</div>
			</div>
			<div class="table__row table__row--foot">
				<div class="table__cell">
					<div class="table__value">TOTALE:</div>
				</div>
				<div class="table__cell">
					<div class="table__value"></div>
					<div class="table__cell" data-align="right">
						<div class="table__value">51.218.794</div>
					</div>
				</div>
			</div>
		</div>
		<!--
		<table style="width: 100%;" border="0" cellspacing="0" cellpadding="1" align="center">
			<tbody>
				<tr>
					<td class="tabHead" width="33%"><strong>Tipologia</strong></td>
					<td class="tabHead" width="33%"><strong>ISIN</strong></td>
					<td class="tabHead tabRight" width="33%"><strong>Numero azioni</strong></td>
				</tr>
				<tr class="tabGrey">
					<td>Azioni ordinarie</td>
					<td>IT0005241192</td>
					<td class="tabRight">42.822.774</td>
				</tr>
				<tr>
					<td>Azioni B</td>
					<td>IT0005285330</td>
					<td class="tabRight">8.316.020</td>
				</tr>
				<tr class="tabGrey">
					<td>Azioni C</td>
					<td>IT0005241747</td>
					<td class="tabRight">80.000</td>
				</tr>
				<tr>
					<td>TOTALE:</td>
					<td></td>
					<td class="tabRight">51.218.794</td>
				</tr>
			</tbody>
		</table>
		-->
		<div class="table">
			<div class="table__row table__row--head">
				<div class="table__cell">
					<div class="table__value">Tipologia</div>
				</div>
				<div class="table__cell">
					<div class="table__value">ISIN</div>
				</div>
				<div class="table__cell" data-align="right">
					<div class="table__value">Numero azioni</div>
				</div>
			</div>
			<div class="table__row">
				<div class="table__cell" data-title="Tipologia">
					<div class="table__value">Market Warrant</div>
				</div>
				<div class="table__cell" data-title="ISIN">
					<div class="table__value">IT0005241200</div>
				</div>
				<div class="table__cell" data-title="Numero azioni" data-align="right">
					<div class="table__value">5.485.662</div>
				</div>
			</div>
			<div class="table__row">
				<div class="table__cell" data-title="Tipologia">
					<div class="table__value">Sponsor Warrant</div>
				</div>
				<div class="table__cell" data-title="ISIN">
					<div class="table__value">IT0005241754</div>
				</div>
				<div class="table__cell" data-title="Numero azioni" data-align="right">
					<div class="table__value">800.000</div>
				</div>
			</div>
		</div>
		<!--
		<table style="width: 100%; margin-top: 20px;" border="0" cellspacing="0" cellpadding="1" align="center">
			<tbody>
				<tr>
					<td class="tabHead" width="33%"><strong>Tipologia</strong></td>
					<td class="tabHead" width="33%"><strong>ISIN</strong></td>
					<td class="tabHead tabRight" width="33%"><strong>Numero azioni</strong></td>
				</tr>
				<tr class="tabGrey">
					<td>Market Warrant</td>
					<td>IT0005241200</td>
					<td class="tabRight">5.485.662</td>
				</tr>
				<tr>
					<td>Sponsor Warrant</td>
					<td>IT0005241754</td>
					<td class="tabRight">800.000</td>
				</tr>
			</tbody>
		</table>
		-->
	</section>
	<section>
		<h2 class="page--investors__section-title">Dividendi</h2>
		<div class="table">
			<div class="table__row table__row--head">
				<div class="table__cell">
					<div class="table__value">Anno</div>
				</div>
				<div class="table__cell">
					<div class="table__value">N. Cedola</div>
				</div>
				<div class="table__cell">
					<div class="table__value">Dividendo unitario approvato dall’Assemblea</div>
				</div>
				<div class="table__cell">
					<div class="table__value">Payout € milioni</div>
				</div>
				<div class="table__cell">
					<div class="table__value">Data Stacco</div>
				</div>
				<div class="table__cell">
					<div class="table__value">Data Pagamento</div>
				</div>
				<div class="table__cell">
					<div class="table__value">Record date</div>
				</div>
				<div class="table__cell">
					<div class="table__value">Data Assemblea</div>
				</div>
			</div>
			<div class="table__row">
				<div class="table__cell" data-title="Anno">
					<div class="table__value">2017 </div>
				</div>
				<div class="table__cell" data-title="N. Cedola">
					<div class="table__value">1 </div>
				</div>
				<div class="table__cell" data-title="Dividendo unitario approvato dall’Assemblea">
					<div class="table__value">0,24 </div>
				</div>
				<div class="table__cell" data-title="Payout € milioni">
					<div class="table__value">12,241 </div>
				</div>
				<div class="table__cell" data-title="Data Stacco">
					<div class="table__value">7 maggio 2018 </div>
				</div>
				<div class="table__cell" data-title="Data Pagamento">
					<div class="table__value">9 maggio 2018 </div>
				</div>
				<div class="table__cell" data-title="Record date">
					<div class="table__value">8 maggio 2018 </div>
				</div>
				<div class="table__cell" data-title="Data Assemblea">
					<div class="table__value">27 aprile 2018 </div>
				</div>
			</div>
			<div class="table__row">
				<div class="table__cell" data-title="Anno">
					<div class="table__value">2018 </div>
				</div>
				<div class="table__cell" data-title="N. Cedola">
					<div class="table__value">2 </div>
				</div>
				<div class="table__cell" data-title="Dividendo unitario approvato dall’Assemblea">
					<div class="table__value">0,24 </div>
				</div>
				<div class="table__cell" data-title="Payout € milioni">
					<div class="table__value">12,273 </div>
				</div>
				<div class="table__cell" data-title="Data Stacco">
					<div class="table__value">6 maggio 2019 </div>
				</div>
				<div class="table__cell" data-title="Data Pagamento">
					<div class="table__value">8 maggio 2019 </div>
				</div>
				<div class="table__cell" data-title="Record date">
					<div class="table__value">7 maggio 2019 </div>
				</div>
				<div class="table__cell" data-title="Data Assemblea">
					<div class="table__value">23 aprile 2019 </div>
				</div>
			</div>
		</div>
		<div class="col-12 pb-5">
			<div class="entry-md entry-sm entry-xs">
				<div class="section-num"></div>
				<div class="">
					<!--
					<table style="width: 1065px; height: 159px;" border="0" cellspacing="0" cellpadding="1" align="center">
						<tbody>
							<tr>
								<td class="tabHead" width="10%"><strong>Anno</strong></td>
								<td class="tabHead" width="10%"><strong>N. Cedola</strong></td>
								<td class="tabHead" width="17.5%"><strong>Dividendo<br>unitario<br>approvato<br>dall’Assemblea</strong></td>
								<td class="tabHead" width="12.5%"><strong>Payout € milioni</strong></td>
								<td class="tabHead" width="12.5%"><strong>Data Stacco</strong></td>
								<td class="tabHead" width="12.5%"><strong>Data Pagamento</strong></td>
								<td class="tabHead" width="12.5%"><strong>Record date</strong></td>
								<td class="tabHead" width="12.5%"><strong>Data Assemblea</strong></td>
							</tr>
							<tr class="tabGrey">
								<td>2017</td>
								<td>1</td>
								<td>0,24</td>
								<td>12,241</td>
								<td>7 maggio 2018</td>
								<td>9 maggio 2018</td>
								<td>8 maggio 2018</td>
								<td>27 aprile 2018</td>
							</tr>
							<tr>
								<td>2018</td>
								<td>2</td>
								<td>0,24</td>
								<td>12,273</td>
								<td>6 maggio 2019</td>
								<td>8 maggio 2019</td>
								<td>7 maggio 2019</td>
								<td>23 aprile 2019</td>
							</tr>
						</tbody>
					</table>
					-->
				</div>
			</div>
		</div>
	</section>
</div>
