<div class="col-sm-15 page--investors__content">
    <h1 class="page--investors__page-title">Investor relations</h1>

    <section id="stock-chart">
        <h2 class="page--investors__section-title">Stock chart</h2>
        <div class="page--investors__text-intro">
            Market: MTA di Borsa Italiana, STAR Segment<br>
            Ticker: ECNL<br>
            Last price: <span class="primary">8,2</span><br>
            Change %: <span class="primary">-0,4854%</span><br>
            Last Update: 03/11/21 12.42.02                        
        </div>
        <img src="img/investors/stock-chart.jpg">
    </section>

    <section id="price-sensitive-press-releases">
        <h2 class="page--investors__section-title">Price sensitive press releases</h2>

        <div class="page--investors__downloads">
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">Suspension of the exercise regarding the Market Warrant of Aquafil S.p.A.</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">Weekly report on the treasury share buy-back plan.</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">The Ordinary Shareholders’ Meeting of Aquafil S.p.A. authorized the purchase and disposal of treasury shares</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">Nofir acquisition to strengthen procurement</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">Documents published for the general shareholders’ meeting October 20, 2021</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">The Board of Directors approved the Company’s operating and financial results at June 30, 2021</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">Launch of a new digital platform bringing ECONYL® to conscious consumers</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">Co-optation of new Board member</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
        </div>

    </section>

    <section id="financial-statements-and-reports">
        <h2 class="page--investors__section-title">Financial statements & reports</h2>

        <div class="page--investors__downloads">
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">Star conference - October 2021</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">1H21 Presentation.</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">Italian Sustainability Week - July 2021</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">Italian Investment Conference 2021 - May 2021</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">1Q21 Presentation</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">2020 Consolidated Annual Report</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
            <div class="page--investors__downloads-item">
                <p class="page--investors__downloads-item-label">2020 Financial Statements</p>
                <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
            </div>
        </div>
    </section>

    <section id="financial-calendar">
        <h2 class="page--investors__section-title">Financial calendar</h2>

        <div class="btn--calendar">
            <span class="left">11/11/2021</span>
            <span class="right">Meeting of the Board of Directors to approve Supplemental Financial Information as of September 30, 2021</span>
        </div>
    </section>

    <section id="discover-aquafil">
        <h2 class="page--investors__section-title">What we do and who we are</h2>

        <div class="responsive-iframe__container">
            <iframe class="responsive-iframe__iframe" src="https://www.youtube.com/embed/SlcQWUn5DeI" frameborder="0"></iframe>
        </div>

        <p>
            For the transmission and storage of the Regulated Information, the Company uses the transmission system eMarket SDIR and the storage device eMarket STORAGE which can be consulted on the website www.emarketstorage.com and are managed by Spafid Connect S.p.A., with registered office in Milan, at 10, Foro Buonaparte.                        
        </p>
    </section>
</div>