<div class="col-sm-15 page--investors__content">
    <h1 class="page--investors__page-title">Price sensitive press releases</h1>

    <section class="page--investors__accordion">
        <div id="anno-2021" class="page--investors__accordion-item">
            <div class="page--investors__accordion-title" target="#anno-2021-content">
                <span class="page--investors__accordion-text">2021</span>
                <span class="page--investors__accordion-icon"></span>
            </div>
            <div class="page--investors__accordion-content" id="anno-2021-content">
                <div class="page--investors__downloads">
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            3F Module October
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Suspension of the exercise regarding the Market Warrant of Aquafil S.p.A.
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Weekly report on the treasury share buy-back plan
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            The Ordinary Shareholders’ Meeting of Aquafil S.p.A. authorized the purchase and disposal of treasury shares
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Nofir acquisition to strengthen procurement
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Suspension of the exercise regarding the Market Warrant of Aquafil S.p.A.
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                </div>    
            </div>
        </div>

        <div id="anno-2020" class="page--investors__accordion-item">
            <div class="page--investors__accordion-title" target="#anno-2020-content">
                <span class="page--investors__accordion-text">2020</span>
                <span class="page--investors__accordion-icon"></span>
            </div>
            <div class="page--investors__accordion-content" id="anno-2020-content">
                <div class="page--investors__downloads">
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            3F Module October
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Suspension of the exercise regarding the Market Warrant of Aquafil S.p.A.
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Weekly report on the treasury share buy-back plan
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            The Ordinary Shareholders’ Meeting of Aquafil S.p.A. authorized the purchase and disposal of treasury shares
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Nofir acquisition to strengthen procurement
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Suspension of the exercise regarding the Market Warrant of Aquafil S.p.A.
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                </div>    
            </div>
        </div>

        <div id="anno-2019" class="page--investors__accordion-item">
            <div class="page--investors__accordion-title" target="#anno-2019-content">
                <span class="page--investors__accordion-text">2019</span>
                <span class="page--investors__accordion-icon"></span>
            </div>
            <div class="page--investors__accordion-content" id="anno-2019-content">
                <div class="page--investors__downloads">
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            3F Module October
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Suspension of the exercise regarding the Market Warrant of Aquafil S.p.A.
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Weekly report on the treasury share buy-back plan
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            The Ordinary Shareholders’ Meeting of Aquafil S.p.A. authorized the purchase and disposal of treasury shares
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Nofir acquisition to strengthen procurement
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Suspension of the exercise regarding the Market Warrant of Aquafil S.p.A.
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                </div>    
            </div>
        </div>

        <div id="anno-2018" class="page--investors__accordion-item">
            <div class="page--investors__accordion-title" target="#anno-2018-content">
                <span class="page--investors__accordion-text">2018</span>
                <span class="page--investors__accordion-icon"></span>
            </div>
            <div class="page--investors__accordion-content" id="anno-2018-content">
                <div class="page--investors__downloads">
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            3F Module October
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Suspension of the exercise regarding the Market Warrant of Aquafil S.p.A.
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Weekly report on the treasury share buy-back plan
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            The Ordinary Shareholders’ Meeting of Aquafil S.p.A. authorized the purchase and disposal of treasury shares
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Nofir acquisition to strengthen procurement
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Suspension of the exercise regarding the Market Warrant of Aquafil S.p.A.
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                </div>    
            </div>
        </div>

        <div id="anno-2017" class="page--investors__accordion-item">
            <div class="page--investors__accordion-title" target="#anno-2017-content">
                <span class="page--investors__accordion-text">2017</span>
                <span class="page--investors__accordion-icon"></span>
            </div>
            <div class="page--investors__accordion-content" id="anno-2017-content">
                <div class="page--investors__downloads">
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            3F Module October
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Suspension of the exercise regarding the Market Warrant of Aquafil S.p.A.
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Weekly report on the treasury share buy-back plan
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            The Ordinary Shareholders’ Meeting of Aquafil S.p.A. authorized the purchase and disposal of treasury shares
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Nofir acquisition to strengthen procurement
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                    <div class="page--investors__downloads-item">
                        <p class="page--investors__downloads-item-label">
                            <strong>20.10.2021 - 12:52</strong><br>
                            Suspension of the exercise regarding the Market Warrant of Aquafil S.p.A.
                        </p>
                        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--investor"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
                    </div>
                </div>    
            </div>
        </div>
    </section>

</div>