<div class="col-sm-15 page--investors__content">
    <h1 class="page--investors__page-title">Financial Highlights</h1>

    <section id="revenues">
        <h2 class="page--investors__section-title">Revenues (million of €)</h2>
        <img src="img/investors/highlights-1.jpg">
    </section>

    <section id="ebitida">
        <h2 class="page--investors__section-title">EBITDA (million of €) and EBITDA Margin on revenues (%)</h2>
        <img src="img/investors/highlights-2.jpg">
    </section>

    <section id="net-financial">
        <h2 class="page--investors__section-title">Net Financial Debt (million of €)</h2>
        <img src="img/investors/highlights-3.jpg">
        <p>
            * The Net Financial Position, excluding the effect of the adoption of IFRS16 (€29.7 million) and the consideration for the acquisition of O’Mara Incorporated (€36.6 million) would have been equal to € 189,2 million.
        </p>
    </section>

    <section id="revenues-breakdown">
        <h2 class="page--investors__section-title">Revenues breakdown by line of product as of June, 30th 2021</h2>
        <img src="img/investors/highlights-4.jpg">
    </section>

    <section id="revenues-breakdown-geo">
        <h2 class="page--investors__section-title">Revenues breakdown by geographical area as of June, 30th 2021</h2>
        <img src="img/investors/highlights-5.jpg">
    </section>

</div>