<div class="col-sm-15 page--investors__content">
    <h1 class="page--investors__page-title">Company documents</h1>

    <section id="by-laws">
        <h2 class="page--investors__section-title">By-laws</h2>
        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--certification"><span>By-laws</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
    </section>

    <section id="etics-code">
        <h2 class="page--investors__section-title">Etics code</h2>
        <img src="img/investors/etics.jpg">
        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--certification"><span>Etics code</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
    </section>

    <section id="organizations">
        <h2 class="page--investors__section-title">Organization, management and control model</h2>
        <p>
            Organization, Management and Control Model
        </p>
        <a href="#" download="Iso-9001-2015-AquafilUSA.pdf" class="btn--certification"><span>PDF - 154 KB</span> <span class="icon"><svg><use xlink:href="#download"></use></svg></span></a>
    </section>

</div>