<div class="col-sm-5 offset-sm-2 page--investor__menu">
    <div class="page--investor__menu-toggle" onclick="document.body.classList.toggle('investor-menu-open')">
        <svg><use xlink:href="#caret-up-md"></use></svg>
    </div>
    <div class="page--investor__menu-title">
        Investor relations
    </div>
    <div class="page--investor__menu-links">
        <a class="page--investor__menu-link active" href="#">Homepage</a>
        <a href="#" class="page--investor__menu-link">Financial Highlights</a>
        <a href="#" class="page--investor__menu-link">Group structure</a>
        <a href="#" class="page--investor__menu-link">Business combination</a>
        <a href="#" class="page--investor__menu-link">Stock performance</a>
        <a href="#" class="page--investor__menu-link">Financial statements</a>
        <a href="#" class="page--investor__menu-link">Price sensitive press releases</a>
        <a href="#" class="page--investor__menu-link">Presentations</a>
        <a href="#" class="page--investor__menu-link">Shareholders information</a>
        <a href="#" class="page--investor__menu-link">Shareholders meetings</a>
        <a href="#" class="page--investor__menu-link">Financial calendars</a>
        <a href="#" class="page--investor__menu-link">IR contacts</a>
    </div>

    <div class="page--investor__menu-title">
        Corporate governance
    </div>
    <div class="page--investor__menu-links">
        <a href="#" class="page--investor__menu-link">Homepage</a>
        <a href="#" class="page--investor__menu-link">Company documents</a>
        <a href="#" class="page--investor__menu-link">Procedures and Regulations</a>
        <a href="#" class="page--investor__menu-link">Internal dealing</a>
        <a href="#" class="page--investor__menu-link">Corporate policy</a>
    </div>
</div>