<div class="sticky-menu">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2">
				<div class="sticky-menu__content">
					<ul class="nav--scroll-menu" scroll-menu>
						<li class="nav__item"><a href="#directors" (scrollTo)="'#directors'">Board of Directors</a></li>
						<li class="nav__item"><a href="#statutory" (scrollTo)="'#statutory'">Board of Statutory Auditors</a></li>
						<li class="nav__item"><a href="#auditors" (scrollTo)="'#auditors'">Auditors Firm</a></li>
						<li class="nav__item"><a href="#risk-committee" (scrollTo)="'#risk-committee'">Audit and Risk Committee</a></li>
						<li class="nav__item"><a href="#remuneration" (scrollTo)="'#remuneration'">Appointment and Remuneration Committee</a></li>
						<li class="nav__item"><a href="#supervisory" (scrollTo)="'#remuneration'">Supervisory Body ex D.Lgs. 231/01</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>