<div class="sticky-menu">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2">
				<div class="sticky-menu__content">
					<ul class="nav--scroll-menu" scroll-menu>
						<li class="nav__item"><a href="#anno-2021" (scrollTo)="'#anno-2021'">2021</a></li>
						<li class="nav__item"><a href="#anno-2020" (scrollTo)="'#anno-2020'">2020</a></li>
						<li class="nav__item"><a href="#anno-2019" (scrollTo)="'#anno-2019'">2019</a></li>
                        <li class="nav__item"><a href="#anno-2018" (scrollTo)="'#anno-2018'">2018</a></li>
                        <li class="nav__item"><a href="#anno-2017" (scrollTo)="'#anno-2017'">2017</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
