<div class="sticky-menu">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2">
				<div class="sticky-menu__content">
					<ul class="nav--scroll-menu" scroll-menu>
						<li class="nav__item"><a href="#stock-chart" (scrollTo)="'#stock-chart'">Stock chart</a></li>
						<li class="nav__item"><a href="#price-sensitive-press-releases" (scrollTo)="'#price-sensitive-press-releases'">Price sensitive press releases</a></li>
						<li class="nav__item"><a href="#financial-statements-and-reports" (scrollTo)="'#financial-statements-and-reports'">Financial Statements & Reports</a></li>
                        <li class="nav__item"><a href="#financial-calendar" (scrollTo)="'#financial-calendar'">Financial Calendar</a></li>
                        <li class="nav__item"><a href="#discover-aquafil" (scrollTo)="'#discover-aquafil'">Discover Aquafil, what we do and who we are</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
