<div class="sticky-menu">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2">
				<div class="sticky-menu__content">
					<ul class="nav--scroll-menu" scroll-menu>
						<li class="nav__item"><a href="#revenues" (scrollTo)="'#revenues'">Revenues</a></li>
						<li class="nav__item"><a href="#ebitida" (scrollTo)="'#ebitida'">EBITDA and EBITDA Margin on revenues</a></li>
						<li class="nav__item"><a href="#net-financial" (scrollTo)="'#net-financial'">Net Financial Debt</a></li>
                        <li class="nav__item"><a href="#revenues-breakdown" (scrollTo)="'#revenues-breakdown'">Revenues breakdown by line of product</a></li>
                        <li class="nav__item"><a href="#revenues-breakdown-geo" (scrollTo)="'#revenues-breakdown-geo'">Revenues breakdown by geographical</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>