<div class="careers-list">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<div class="careers-list__text-top">
					Choose the country you want to apply for
				</div>
				<div class="careers-list__items">
					<!-- @@include ./careers-item.html {"name":"Italy", "id":"114"} -->
					<!-- @@include ./careers-item.html {"name":"Usa (Arizona)", "id":"2"} -->
					<!-- @@include ./careers-item.html {"name":"Usa (California)", "id":"3"} -->
					<!-- @@include ./careers-item.html {"name":"Usa (Georgia)", "id":"4"} -->
					<!-- @@include ./careers-item.html {"name":"Germany", "id":"5"} -->
					<!-- @@include ./careers-item.html {"name":"Uk", "id":"6"} -->
					<!-- @@include ./careers-item.html {"name":"Slovenia", "id":"7"} -->
					<!-- @@include ./careers-item.html {"name":"Croatia", "id":"8"} -->
					<!-- @@include ./careers-item.html {"name":"China", "id":"9"} -->
					<!-- @@include ./careers-item.html {"name":"Thailand", "id":"10"} -->
				</div>
			</div>
		</div>
	</div>
</div>
