<div class="careers-hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-20 offset-sm-2 col-md-18 offset-md-3">
				<div class="careers-hero__content" appear>
					<div class="careers-hero__title"><!--@@var=heroTitle--></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9 offset-sm-2 col-md-7 offset-md-4">
				<div class="careers-hero__content" appear>
					<div class="careers-hero__abstract"><!--@@var=heroContentFirst--></div>
				</div>
			</div>
			<div class="col-sm-9 offset-sm-2 col-md-7 offset-md-1">
				<div class="careers-hero__content" appear>
					<div class="careers-hero__abstract"><!--@@var=heroContentSecond--></div>
				</div>
			</div>
		</div>
	</div>
</div>